/*
.animate-enter,
.animate-leave {
    -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.animate-enter {
    top: -100%;
}

.animate-enter.animate-enter-active {
    top: 0;
}

.animate-leave {
    top: 0;
}

.animate-leave.animate-leave-active {
    top: 100%;
}*/

/* SWITCH */
.animate-switch-container {
}

.animate-switch {
}

.animate-switch.ng-animate {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.left-panel.animate-switch.ng-leave.ng-leave-active,
.left-panel.animate-switch.ng-enter {
    left: -350px;
}

.left-panel.animate-switch.ng-leave,
.left-panel.animate-switch.ng-enter.ng-enter-active {
    left: 0;
}

.right-panel.animate-switch.ng-leave.ng-leave-active,
.right-panel.animate-switch.ng-enter {
    right: -490px;
}

.right-panel.animate-switch.ng-leave,
.right-panel.animate-switch.ng-enter.ng-enter-active {
    right: 0;
}

.marker-edit-mode.animate-switch.ng-leave.ng-leave-active,
.marker-edit-mode.animate-switch.ng-enter {
    top: -70px;
}

.marker-edit-mode.animate-switch.ng-leave,
.marker-edit-mode.animate-switch.ng-enter.ng-enter-active {
    top: 13px;
}

/* SHOW/HIDE */
.animate-show {
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    display: block !important;
}

.home-wrapper .left-panel.animate-show.ng-hide {
    display: block !important;
}

.home-wrapper .right-panel.animate-show.ng-hide {
    display: block !important;
}

.left-panel.animate-show.ng-hide {
    left: -330px;
}

.right-panel.animate-show.ng-hide {
    right: -470px;
}

.marker-edit-mode.animate-show.ng-hide {
    top: -70px;
}