/* Calendar */

.publishedMeeting {
    background-color: rgb(164, 255, 167);
}

.pastMeeting {
    background-color: rgb(177, 239, 244);
}

.finishedMeeting {
    background-color: rgb(213, 213, 213);
}

.draftMeeting {
    background-color: rgb(236, 199, 234);
}

.voting_openedMeeting {
    background-color: rgb(255, 80, 90);
}

.publishedMeeting a,
.pastMeeting a,
.finishedMeeting a,
.draftMeeting a,
.voting_openedMeeting a {
    color: #000000 !important;
    box-shadow: none !important;
}

.color-legend {
    float: left;
    width: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-right: 5px;
}

.color-legend-item {
    font-size: 90%;
    margin-right: 15px;
    color: rgb(123, 123, 123);
    margin-bottom: 10px;
}

.home-wrapper .ui-datepicker.ui-datepicker-multi {
    width: 100% !important;
}

.home-wrapper .ui-widget {
    font-family: 'NotoSerif', Arial, sans-serif;
}

.home-wrapper .ui-datepicker {
    font-size: 108%;
}

.home-wrapper .ui-widget-content {
    border: none;
}

.home-wrapper .ui-datepicker .ui-datepicker-header {
    background-color: transparent;
    font-weight: normal;
    color: rgb(32, 32, 32);
    font-size: 95%;
}

.home-wrapper .ui-datepicker th {
    font-weight: normal;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    color: rgb(51, 51, 51);
    font-size: 85%;
}

.home-wrapper .ui-datepicker td {
    border: 1px solid rgb(112, 112, 112);
}

.home-wrapper .ui-datepicker td > span {
    box-shadow: none !important;
}

.home-wrapper .ui-datepicker td:first-child {
    border-top: 1px solid rgb(112, 112, 112);
    border-bottom: 1px solid rgb(112, 112, 112);
    border-right: 1px solid rgb(112, 112, 112);
    border-left: none;
}

.home-wrapper .ui-datepicker td:last-child {
    border-top: 1px solid rgb(112, 112, 112);
    border-bottom: 1px solid rgb(112, 112, 112);
    border-left: 1px solid rgb(112, 112, 112);
    border-right: none;
}

.home-wrapper .ui-datepicker .ui-datepicker-title {
    text-align: left;
}

.home-wrapper .ui-datepicker .ui-datepicker-other-month .ui-state-default {
    color: #DEDEDE;
    text-align: right;
}

.home-wrapper .ui-datepicker td .ui-state-default {
    text-align: right;
    color: #8B8B8B;
    padding-top: 3px;
    padding-bottom: 7px;
}

.home-wrapper .ui-widget-header .ui-icon {
    background-image: none;
}
.home-wrapper .ui-icon-circle-triangle-w {
    background: url('../img/icon_to_left.png') no-repeat #fff 0 46% !important;
}

.home-wrapper .ui-icon-circle-triangle-e {
    background: url('../img/icon_to_right.png') no-repeat #fff 0 46% !important;
}

.home-wrapper .ui-datepicker .ui-datepicker-prev,
.home-wrapper .ui-datepicker .ui-datepicker-next {
    top: 5px;
    cursor: pointer;
}