
@font-face{
    font-family: 'NeoSansCyr';
    src: url('../fonts/NeoSansCyr-Regular.eot');
    src: url('../fonts/NeoSansCyr-Regular.eot?iefix') format('eot'),
    url('../fonts/NeoSansCyr-Regular.woff') format('woff'),
    url('../fonts/NeoSansCyr-Regular.ttf') format('truetype'),
    url('../fonts/NeoSansCyr-Regular.svg#webfont') format('svg');
}
