@import "reset.css";
@import "animation.css";

body {
    overflow: hidden;
}

.app-wrapper input[type="text"],
.app-wrapper input[type="password"],
.app-wrapper input {
    box-sizing: content-box;
    border-radius: 0;
    font-size: 120%;
    color: rgb(113, 113, 113);
    border: none;
    padding: 11px 12px;
}

.ng-cloak {
    display: none !important;
}

.dashed-text {
    display: inline-block;
    color: #ffffff;
    border-bottom: 1px dashed #ffffff;
    cursor: pointer;
}

.grey-text {
    color: rgb(128, 128, 128);
}

input:focus,
textarea:focus,
select:focus {
    outline-offset: -2px;
    outline: rgb(237, 170, 46) auto 5px;
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
    color: #808080;
    border-color: rgba(82, 168, 236, 0.8);
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
    /*border-color: rgba(82, 168, 236, 0.8);*/
    /*outline: 0;*/
    /*outline: thin dotted    \9;*/
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.hidden {
    display: none;
}

.img-va-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* Placeholder */
input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: rgb(111, 111, 111);
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgb(111, 111, 111);
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgb(111, 111, 111);
}

input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: rgb(111, 111, 111);
}

/* end Placeholder */

/* Buttons */
button {
    border: none;
    padding: 11px 12px;
    font-size: 120%;
}

button:focus {
    outline-offset: -2px;
    outline: rgb(237, 170, 46) auto 5px;
}

/* end Buttons */

/* Home page */

#map-panel {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.home-wrapper .left-panel {
    /*background-color: rgb(55, 55, 55);*/
    background: url('/img/left_bar_gr_bg.png') repeat-y rgb(55, 55, 55);
    width: 350px;
    min-height: 100%;
    position: relative;
    float: left;
    z-index: 10;
}

.home-wrapper .left-panel .top-logo {
    padding: 40px 0;
}

.home-wrapper .left-panel .img-logo {
    display: block;
    margin-left: 83px;
}

.home-wrapper .left-panel .city,
.home-wrapper .left-panel .text-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home-wrapper .left-panel .text-logo {
    margin-top: 40px;
    margin-bottom: 20px;
}

.home-wrapper .left-panel .city {
    margin-top: 10px;
    color: rgb(244, 244, 244);
    text-align: center;
}

.home-wrapper .left-panel .hr {
    background-color: rgb(95, 95, 95);
    margin-left: auto;
    margin-right: auto;
    width: 210px;
    height: 1px;
}

.home-wrapper .start-form {
    z-index: 20;
    position: relative;
}

.home-wrapper .start-form .what {
    width: 260px;
    display: block;
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    font-size: 120%;
}

.home-wrapper .start-form .what .dropdown-toggle {
    background-color: #ffffff;
    color: rgb(111, 111, 111);
    padding: 11px 12px;
}

.home-wrapper .start-form .what .dropdown-menu {
    top: inherit;
    left: 43px;
    width: 260px;
    z-index: 2000;
}

.home-wrapper .start-form input {
    width: 235px;
    display: block;
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
}

.home-wrapper .start-form .buttons {
    width: 259px;
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.home-wrapper .start-form .l-button {
    float: left;
    background-color: rgb(242, 108, 79);
    color: white;
    font-size: 110%;
    width: 123px;
    margin-top: 0;
}

.home-wrapper .start-form .r-button {
    float: right;
    background-color: rgb(95, 197, 183);
    color: white;
    font-size: 110%;
    width: 123px;
    margin-top: 0;
}

.home-wrapper .left-panel .show-list {
    text-align: center;
    margin-top: 20px;
    z-index: 10;
    position: relative;
}

.home-wrapper .left-panel .musor {
    background: url('/img/bg_musor.png') no-repeat transparent top center;
    height: 262px;
    width: 100%;
    position: absolute;
    bottom: 10px;
}

/* Right panel */

.home-wrapper .right-panel-show {
    height: 35px;
    width: 35px;
    background: url('/img/search.png') no-repeat rgb(55, 55, 55) center center;
    position: absolute;
    top: 20px;
    right: -50px;
    z-index: 100;
}

.home-wrapper .right-panel-show.back {
    background: url('/img/back.png') no-repeat rgb(55, 55, 55) center center;
}

.home-wrapper .right-panel-hide {
    height: 35px;
    width: 35px;
    background: url('/img/icon_menu.png') no-repeat rgb(55, 55, 55) center center;
    position: absolute;
    top: 20px;
    right: 530px;
    z-index: 100;
}

.home-wrapper .right-panel-hide.back {
    background: url('/img/forward.png') no-repeat rgb(55, 55, 55) center center;
}

.home-wrapper .left-panel.ui-show {
    width: 350px;
}

.home-wrapper .right-panel.ui-show {
    width: 490px;
}

.home-wrapper .left-panel.ui-hide,
.home-wrapper .right-panel.ui-hide {
    width: 0;
}

.home-wrapper .right-panel {
    /*background-color: rgb(55, 55, 55);*/
    background: url('/img/right_bar_gr_bg.png') repeat-y rgb(55, 55, 55);
    width: 490px;
    height: 100%;
    position: relative;
    float: right;
}

.home-wrapper .right-panel .left-margin {
    margin-left: 45px;
}

.home-wrapper .right-panel .category-section {
    margin-bottom: 40px;
}

.home-wrapper .right-panel .category {
    font-size: 180%;
    color: #ffffff;
    margin-bottom: 15px;
    cursor: pointer;
}

.home-wrapper .right-panel .tag-w-count {
    color: #ffffff;
    font-size: 100%;
    display: inline-block;
    width: 200px;
    height: 42px;
    text-align: left;
    cursor: pointer;
}

.home-wrapper .right-panel .category:hover,
.home-wrapper .right-panel .tag-w-count:hover {
    color: rgb(231, 198, 109);
}

.home-wrapper .right-panel .tag-name {
    float: left;
    max-width: 130px;
    height: 100%;
    display: table;
}

.home-wrapper .right-panel .tag-name-tc {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.home-wrapper .right-panel .tag-count {
    margin-left: 5px;
}

.home-wrapper .right-panel .tag-icon {
    float: left;
    width: 32px;
    margin-right: 10px;
    display: table;
    height: 100%;
}

.home-wrapper .right-panel .tag-icon-tc {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

/* Top buttons and search box */

.home-wrapper .top-buttons .lost-b,
.home-wrapper .top-buttons .found-b {
    width: 245px;
    height: 46px;
    text-align: center;
    float: left;
    font-size: 180%;
    color: #ffffff;
    padding: 0 12px 5px 12px;
}

.home-wrapper .top-buttons .found-b:focus,
.home-wrapper .top-buttons .lost-b:focus {
    outline: none;
}

.home-wrapper .top-buttons .found-b,
.home-wrapper .top-buttons .lost-b {
    background-color: rgb(37, 37, 37);
    border-top: 3px solid rgb(37, 37, 37);
    color: rgb(117, 117, 117);
}

.home-wrapper .top-buttons .lost-b span,
.home-wrapper .top-buttons .found-b span {
    border-bottom: 1px dashed rgb(117, 117, 117);
}

.home-wrapper .top-buttons .lost-b.active span,
.home-wrapper .top-buttons .found-b.active span {
    border-bottom: none;
}

.home-wrapper .top-buttons .lost-b.active {
    color: #ffffff;
    background-color: transparent;
    border-top: 3px solid rgb(242, 108, 78);
}

.home-wrapper .top-buttons .found-b.active {
    color: #ffffff;
    background-color: transparent;
    border-top: 3px solid rgb(95, 197, 183);
}

.home-wrapper .search-block {
    margin-top: 37px;
    margin-bottom: 40px;
}

.home-wrapper .search-block img {
    margin-top: -5px;
    vertical-align: middle;
    cursor: pointer;
}

.home-wrapper .search-block input {
    width: 316px;
    background: url('/img/search2.png') no-repeat #ffffff 97% 55%;
    font-size: 130%;
    padding: 6px 12px 4px;
    margin-left: 30px;
}

/* end Top buttons and search box */

/* List of items */

.home-wrapper .right-panel .selected-category {
    /*display: inline-block;*/
    margin-bottom: 20px;
    cursor: pointer;
    max-width: 350px;
}

.home-wrapper .right-panel .selected-category:hover .name,
.home-wrapper .right-panel .selected-category:hover .tag {
    color: rgb(231, 198, 109);
}

.home-wrapper .right-panel .selected-category .name {
    font-size: 180%;
    color: #ffffff;
    margin-right: 10px;
}

.home-wrapper .right-panel .selected-category .tag {
    color: #ffffff;
}

.home-wrapper .laf-item {
    border-top: 1px solid rgb(95, 95, 95);
    padding-bottom: 18px;
    width: 400px;
    cursor: pointer;
}

.app-wrapper .found-on-create-items .creation-date,
.app-wrapper .creation-date,
.home-wrapper .laf-item .when {
    color: #ffffff;
    margin-top: 12px;
    position: relative;
}

.home-wrapper .laf-item:hover .when {
    color: rgb(231, 198, 109);
}

.app-wrapper .found-on-create-items .creation-date .day,
.app-wrapper .creation-date .day,
.home-wrapper .laf-item .when .day {
    font-size: 220%;
    margin-right: 5px;
}

.app-wrapper .found-on-create-items .creation-date .month,
.app-wrapper .creation-date .month,
.home-wrapper .laf-item .when .month {
    margin-right: 5px;
}

.home-wrapper .laf-item .what {
    color: rgb(128, 128, 128);
    margin-bottom: 8px;
    margin-top: -2px;
    cursor: pointer;
}

/* end List of items */

/* Tags list */
.home-wrapper .tags-label {
    color: #ffffff;
    margin-right: 5px;
}

.home-wrapper .tags {
    color: rgb(231, 198, 109);
}

/* end Tags list */

/* Item details */

.home-wrapper .details-block {
    width: 400px;
    border-top: 1px solid rgb(95, 95, 95);
    position: relative;
}

.home-wrapper .details-block .creation-date {
    color: rgb(128, 128, 128);
}

.app-wrapper .creation-form .picture,
.home-wrapper .details-block .picture {
    float: left;
    width: 102px;
    height: 102px;
    border: 1px solid white;
    margin-right: 25px;
    margin-top: 9px;
    vertical-align: middle;
    background-color: rgb(70, 70, 70);
    text-align: center;
}

.app-wrapper .creation-form .picture img,
.home-wrapper .details-block .picture img {
    max-width: 90px;
    max-height: 90px;
    vertical-align: middle;
    margin-left: -4px;
}

.home-wrapper .details-block .what {
    float: left;
    color: #ffffff;
    font-size: 160%;
    margin-top: 10px;
    width: 270px;
}

.home-wrapper .share-section {
    padding: 20px 10px 20px 0;
}

.home-wrapper .contacts-section {
    padding: 20px 10px 20px 0;
    border-bottom: 1px solid rgb(95, 95, 95);
}

.home-wrapper .tags-section {
    padding: 10px 0 10px 3px;
    border-bottom: 1px solid rgb(95, 95, 95);
}

.home-wrapper .when-where-section {
    padding: 20px 10px 20px 0;
    border-bottom: 1px solid rgb(95, 95, 95);
}

.home-wrapper .details-block .prev-laf-item:hover,
.home-wrapper .details-block .next-laf-item:hover {
    background-color: rgb(95, 95, 95);
}

.home-wrapper .details-block .prev-laf-item {
    position: absolute;
    right: -5px;
    top: -60px;
    cursor: pointer;
    padding: 5px;
}

.home-wrapper .details-block .next-laf-item {
    position: absolute;
    right: -5px;
    bottom: 10px;
    cursor: pointer;
    padding: 5px;
}

/* end Item details */

/* Icon label block */

.home-wrapper .icon-label-b.float-left {
    float: left;
}

.home-wrapper .icon-label-b.float-right {
    float: right;
}

.home-wrapper .icon-label-b {
}

.home-wrapper .icon-label-b .label-b {
    margin-left: 30px;
    color: rgb(128, 128, 128);
}

.home-wrapper .icon-label-b .text-b {
    color: #ffffff;
    font-size: 120%;
    padding-left: 30px;
}

.home-wrapper .where-b {
    width: 230px;
    float: left;
}

.home-wrapper .where-b .text-b {
    background: url('../img/icon_03.png') no-repeat transparent 0 5px;
    width: 200px;
}

.home-wrapper .when-b {
    float: right;
}

.home-wrapper .when-b .text-b {
    background: url('../img/icon_02.png') no-repeat transparent 0 3px;
}

.home-wrapper .person-b {
    width: 300px;
}

.home-wrapper .person-b .text-b {
    background: url('../img/icon_07.png') no-repeat transparent 0 3px;
}

.home-wrapper .pen-b,
.home-wrapper .email-b,
.home-wrapper .phone-b {
    margin-top: 20px;
}

.home-wrapper .phone-b {
    width: 160px;
    float: left;
}

.home-wrapper .phone-b .text-b {
    background: url('../img/icon_04.png') no-repeat transparent 0 3px;
}

.home-wrapper .email-b {
    max-width: 230px;
}

.home-wrapper .email-b .text-b {
    font-size: 110%;
    color: rgb(230, 197, 108);
    background: url('../img/icon_05.png') no-repeat transparent 0 4px;
    cursor: pointer;
}

.home-wrapper .pen-b .text-b {
    color: rgb(230, 197, 108);
    margin-top: 10px;
    background: url('../img/icon_06.png') no-repeat transparent 0 3px;
    cursor: pointer;
}

/* end icon label block */

.home-wrapper .money {
    background: url('../img/money_icon.png') no-repeat transparent center center;
    height: 26px;
    width: 26px;
    position: absolute;
    right: 5px;
    top: 5px;
}

/* Share section */

.home-wrapper .share-section {
    color: rgb(128, 128, 128);
}

.home-wrapper .share-section img {
    margin-left: 40px;
    cursor: pointer;
}

/* end Share section */

/* end Home page */

/* Create item popup */
.app-wrapper .modal-dialog {
    width: 880px;
}

.app-wrapper .modal-content {
    position: relative;
    border: none;
    border-radius: 0;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
}

.app-wrapper .modal-backdrop.in {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.ci-popup {
    width: 880px;
    background-color: rgb(55, 55, 55);
    border-top: 1px solid;
    padding: 15px 35px 45px 35px;
    color: #ffffff;
}

.ci-popup .creation-date {
    color: rgb(128, 128, 128);
    margin-top: 0;
    margin-left: 30px;
}

.ci-popup.found {
    border-top-color: rgb(95, 197, 183);
}

.ci-popup.lost {
    border-top-color: rgb(242, 108, 79);
}

.app-wrapper .creation-form .picture {
    float: left;
    width: 102px;
    height: 102px;
    border: 1px solid white;
    margin-right: 25px;
    margin-top: 9px;
    vertical-align: middle;
    background-color: rgb(70, 70, 70);
    text-align: center;
}

.app-wrapper .creation-form .picture img {
    max-width: 90px;
    max-height: 90px;
    vertical-align: middle;
    margin-left: -4px;
}

.app-wrapper .creation-form .picture-block {
    width: 100px;
    position: absolute;
    right: 35px;
    top: 35px;
    color: rgb(206, 178, 101);
    font-size: 80%;
    text-align: center;
    cursor: pointer;
}

.app-wrapper .creation-form .what {
    padding-left: 30px;
    position: relative;
}

.app-wrapper .creation-form.lost .what {
    background: url('../img/icon_01.png') no-repeat transparent 5px 15px;
}

.app-wrapper .creation-form.found .what {
    background: url('../img/icon_01_0.png') no-repeat transparent 5px 15px;
}

.app-wrapper .creation-form .what textarea {
    width: 640px;
    height: 100px;
    font-size: 150%;
    padding: 8px 15px;
}

.app-wrapper .creation-form.lost .where {
    background: url('../img/icon_03.png') no-repeat transparent 5px 32px;
}

.app-wrapper .creation-form.found .where {
    background: url('../img/icon_03_0.png') no-repeat transparent 5px 32px;
}

.app-wrapper .creation-form .where {
    float: left;
    padding-left: 30px;
}

.app-wrapper .creation-form .where input {
    padding: 9px 12px;
    width: 396px;
}

.app-wrapper .creation-form.lost .when {
    background: url('../img/icon_02.png') no-repeat transparent 5px 32px;
}

.app-wrapper .creation-form.found .when {
    background: url('../img/icon_02_0.png') no-repeat transparent 5px 32px;
}

.app-wrapper .creation-form .when {
    float: left;
    padding-left: 30px;
    margin-left: 10px;
}

.app-wrapper .creation-form .when input {
    padding: 9px 12px;
    width: 156px;
}

.app-wrapper .creation-form .where,
.app-wrapper .creation-form .when {
    margin-top: 15px;
}

.app-wrapper .creation-form .where>span,
.app-wrapper .creation-form .when>span {
    color: rgb(192, 192, 192);
    font-size: 80%;
    margin-bottom: 5px;
    display: block;
}

.app-wrapper .creation-form .tags {
    border-bottom: 1px solid rgb(95, 95, 95);
    border-top: 1px solid rgb(95, 95, 95);
    margin-left: 30px;
    padding: 10px 3px;
    margin-top: 20px;
    width: 640px;
    color: rgb(206, 178, 101);
    position: relative;
}

.app-wrapper .creation-form .tags .tags-wrapper {
    float: left;
    width: 490px;
    margin-right: 20px;
}

.app-wrapper .creation-form .tags .tags-label {
    margin-right: 5px;
    display: inline-block;
    color: #ffffff;
}

.app-wrapper .creation-form .tags .add-tag-button {
    background: url('../img/add.png') no-repeat transparent 0 1px;
    color: rgb(206, 178, 101);
    padding-left: 30px;
    cursor: pointer;
    float: left;
}

.app-wrapper .start-form .dropdown-menu,
.app-wrapper .creation-form .tags .dropdown-menu {
    background-color: rgb(70, 70, 70);
    border-radius: 0;
    color: #ffffff;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
}

.app-wrapper .start-form .dropdown-menu span,
.app-wrapper .creation-form .tags .dropdown-menu span {
    font-weight: bold;
}

.app-wrapper .start-form .dropdown-menu a:hover,
.app-wrapper .creation-form .tags .dropdown-menu a:hover {
    background-color: transparent;
    outline-offset: -2px;
    outline: rgb(237, 170, 46) auto 5px;
}

.app-wrapper .start-form .dropdown-menu a,
.app-wrapper .creation-form .tags .dropdown-menu a {
    display: block;
    margin-left: 5px;
    color: #ffffff;
    cursor: pointer;
}

.app-wrapper .creation-form .vk-login,
.app-wrapper .creation-form .fb-login {
    color: #ffffff;
    padding-left: 45px;
}

.app-wrapper .creation-form .login-buttons {
    margin-left: 30px;
    margin-top: 15px;
    width: 640px;
}

.app-wrapper .creation-form.lost .vk-login {
    background: url('../img/share_vkontacte.png') no-repeat rgb(242, 108, 79) 10px 50%;
}

.app-wrapper .creation-form.lost .fb-login {
    background: url('../img/share_facebook.png') no-repeat rgb(242, 108, 79) 10px 50%;
}

.app-wrapper .creation-form.found .vk-login {
    background: url('../img/share_vkontacte.png') no-repeat rgb(95, 197, 183) 10px 50%;
}

.app-wrapper .creation-form.found .fb-login {
    background: url('../img/share_facebook.png') no-repeat rgb(95, 197, 183) 10px 50%;
}

.app-wrapper .creation-form .vk-login,
.app-wrapper .creation-form .fb-login {
    width: 48%;
    font-size: 120%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.app-wrapper .creation-form .vk-login {
    float: left;
}

.app-wrapper .creation-form .fb-login {
    float: right;
}

.app-wrapper .creation-form .found-on-create-items {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 25px;
}

.app-wrapper .creation-form .found-on-create-items .found-header-block {
    margin-bottom: 20px;
}

.app-wrapper .creation-form .found-on-create-item {
    float: left;
    width: 365px;
    padding-right: 15px;
    margin-bottom: 15px;
}

.app-wrapper .creation-form .found-on-create-item .item-info {
    float: left;
}

.app-wrapper .creation-form .found-on-create-item .creation-date {
    margin-left: 0;
}

.app-wrapper .creation-form .found-on-create-items .picture {
    float: left;
    margin-right: 15px;
    width: 62px;
    height: 62px;
}

.app-wrapper .creation-form .found-on-create-items .picture img {
    max-width: 50px;
    max-height: 50px;
    vertical-align: middle;
    margin-left: -4px;
}

/* Datepicker */
.app-wrapper .dropdown-menu {
    z-index: 1160;
}

input[bs-datepicker] {
    width: 170px;
    background: url('../img/icon_calendar_mini.png') no-repeat #fff 95% 45%;
    cursor: pointer;
}

input[datepicker-popup] {
    background: url('../img/icon_calendar.png') no-repeat #fff 95% 45%;
    cursor: pointer;
}

/* end Datepicker */
/* todo to investigate
.my-crazy-animation {
    height: 0;
}
overflow: hidden;
-webkit-transition: 5s linear all;
transition: 5s linear all;
*/

/* Scroller */

.nano-bottom {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: -moz-linear-gradient(bottom, rgba(55, 55, 55, 0.95) 0%, rgba(55, 55, 55, 0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, rgba(55, 55, 55, 0.95)), color-stop(100%, rgba(55, 55, 55, 0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(bottom, rgba(55, 55, 55, 0.95) 0%, rgba(55, 55, 55, 0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(bottom, rgba(55, 55, 55, 0.95) 0%, rgba(55, 55, 55, 0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom, rgba(55, 55, 55, 0.95) 0%, rgba(55, 55, 55, 0) 100%); /* IE10+ */
    background: linear-gradient(to top, rgba(55, 55, 55, 0.95) 0%, rgba(55, 55, 55, 0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0); /* IE6-9 */
}

.nano {
    position: relative;
    overflow: hidden;
}

.nano .content {
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.nano .content:focus {
    outline: thin dotted;
}

.nano .content::-webkit-scrollbar {
    visibility: hidden;
}

.has-scrollbar .content::-webkit-scrollbar {
    visibility: visible;
}

.nano > .pane {
    background: rgba(0, 0, 0, .25);
    position: absolute;
    width: 10px;
    right: 0;
    top: 0;
    bottom: 0;
    visibility: hidden\9; /* Target only IE7 and IE8 with this hack */
    opacity: .01;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.nano > .pane > .slider {
    background: #444;
    background: rgba(0, 0, 0, .5);
    position: relative;
    margin: 0 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.nano:hover > .pane, .pane.active, .pane.flashed {
    visibility: visible\9; /* Target only IE7 and IE8 with this hack */
    opacity: 0.99;
}

/* Busy indicator */
.laf-busy {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.7;
}

.laf-busy-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.laf-busy-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #000000;
    font-size: 200%;
}

