@import "reset.css";
@import "fonts.css";
@import "animation.css";
@import "scroll.css";
@import "map.css";
@import "landing-page.css";
@import "select.css";
@import "on-map-panel.css";
@import "messages.css";
@import "picture-block.css";

body {
    overflow: hidden;
    font-family: 'NeoSansCyr', Arial, sans-serif !important;
}

.app-wrapper .input-color {
    color: rgb(82, 82, 82);
}

.app-wrapper textarea {
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    border: 1px solid rgb(205, 206, 206);
    font-size: 100%;
    color: rgb(82, 82, 82);
    padding: 8px;
}

.app-wrapper input[type="text"],
.app-wrapper input[type="password"],
.app-wrapper input {
    box-sizing: content-box;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    border: 1px solid rgb(205, 206, 206);
    font-size: 100%;
    color: rgb(82, 82, 82);
    padding: 8px;
    height: 16px;
}

.ng-cloak {
    display: none !important;
}

.back-block {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 8px;
    z-index: 9999;
    padding-left: 10px;
}

.dashed-text {
    display: inline-block;
    color: rgb(117, 117, 117);
    border-bottom: 1px dashed rgb(117, 117, 117);
    cursor: pointer;
}

.grey-text {
    color: rgb(128, 128, 128);
}

input:focus,
textarea:focus,
select:focus {
    outline-offset: -2px;
    outline: rgb(237, 170, 46) auto 5px;
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
    color: #808080;
    border-color: rgba(82, 168, 236, 0.8);
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
    /*border-color: rgba(82, 168, 236, 0.8);*/
    /*outline: 0;*/
    /*outline: thin dotted    \9;*/
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.hidden {
    display: none;
}

.img-va-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.colored-button {
    height: 40px;
}

.button-base {
    color: rgb(143, 143, 143);
    font-size: 120%;
    padding-top: 9px;
    padding-bottom: 7px;
    border-radius: 4px;
    border: 1px solid rgb(158, 158, 158);
    background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(229, 229, 229));
    background-image: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(229, 229, 229));
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(229, 229, 229));
    background-image: -o-linear-gradient(top, rgb(255, 255, 255), rgb(229, 229, 229));
    background-image: linear-gradient(top, rgb(255, 255, 255), rgb(229, 229, 229));
}

.button-base-small {
    color: rgb(255, 255, 255);
    font-size: 100%;
    padding-top: 7px;
    padding-bottom: 5px;
    border-radius: 4px;
    border: 1px solid rgb(158, 158, 158);
    background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(229, 229, 229));
    background-image: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(229, 229, 229));
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(229, 229, 229));
    background-image: -o-linear-gradient(top, rgb(255, 255, 255), rgb(229, 229, 229));
    background-image: linear-gradient(top, rgb(255, 255, 255), rgb(229, 229, 229));
}

.button-base-small.lost {
    border: none;
    padding-top: 8px;
    padding-bottom: 6px;
    background-image: -webkit-linear-gradient(top, rgb(254, 131, 2), rgb(226, 76, 50));
    background-image: -moz-linear-gradient(top, rgb(254, 131, 2), rgb(226, 76, 50));
    background-image: -ms-linear-gradient(top, rgb(254, 131, 2), rgb(226, 76, 50));
    background-image: -o-linear-gradient(top, rgb(254, 131, 2), rgb(226, 76, 50));
    background-image: linear-gradient(top, rgb(254, 131, 2), rgb(226, 76, 50));
}

.button-base-small.found {
    border: none;
    padding-top: 8px;
    padding-bottom: 6px;
    background-image: -webkit-linear-gradient(top, rgb(30, 200, 235), rgb(30, 142, 201));
    background-image: -moz-linear-gradient(top, rgb(30, 200, 235), rgb(30, 142, 201));
    background-image: -ms-linear-gradient(top, rgb(30, 200, 235), rgb(30, 142, 201));
    background-image: -o-linear-gradient(top, rgb(30, 200, 235), rgb(30, 142, 201));
    background-image: linear-gradient(top, rgb(30, 200, 235), rgb(30, 142, 201));
}

.button-base-small.cancel {
    border: none;
    padding-top: 8px;
    padding-bottom: 6px;
    background-image: -webkit-linear-gradient(top, rgb(120, 120, 120), rgb(96, 96, 96));
    background-image: -moz-linear-gradient(top, rgb(120, 120, 120), rgb(96, 96, 96));
    background-image: -ms-linear-gradient(top, rgb(120, 120, 120), rgb(96, 96, 96));
    background-image: -o-linear-gradient(top, rgb(120, 120, 120), rgb(96, 96, 96));
    background-image: linear-gradient(top, rgb(120, 120, 120), rgb(96, 96, 96));
}

/* Placeholder */
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: rgb(111, 111, 111);
}

textarea:-moz-placeholder,
input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgb(111, 111, 111);
}

textarea::-moz-placeholder,
input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgb(111, 111, 111);
}

textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: rgb(111, 111, 111);
}

.search-block input::-webkit-input-placeholder {
    /* WebKit browsers */
    font-style: italic;
    color: rgb(194, 194, 194);
}

.search-block input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-style: italic;
    color: rgb(194, 194, 194);
}

.search-block input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-style: italic;
    color: rgb(194, 194, 194);
}

.search-block input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-style: italic;
    color: rgb(194, 194, 194);
}

/* end Placeholder */

/* Buttons */
button {
    border: none;
    padding: 11px 12px;
    font-size: 120%;
}

button:focus {
    outline-offset: -2px;
    outline: rgb(237, 170, 46) auto 5px;
}

/* end Buttons */

/* Home page */

#map-panel {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.home-wrapper .left-panel {
    background: url('/img/logos/02_bg.png') no-repeat rgb(255, 255, 255) center -150px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    width: 350px;
    min-height: 100%;
    position: relative;
    float: left;
    z-index: 10;
}

.home-wrapper .v-align-table {
    display: table;
    height: 100%;
    width: 100%;
}

.home-wrapper .v-align-cell {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

.home-wrapper .left-panel .top-logo {
    padding-bottom: 25px;
    padding-top: 15px;
}

.home-wrapper .left-panel .img-logo {
    display: block;
    margin: auto;
}

.home-wrapper .left-panel .city,
.home-wrapper .left-panel .text-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home-wrapper .left-panel .text-logo {
    margin-top: 20px;
    margin-bottom: 40px;
}

.home-wrapper .left-panel .city {
    color: rgb(117, 117, 117);
    text-align: center;
}

.home-wrapper .start-form {
    z-index: 20;
    position: relative;
}

.home-wrapper .start-form .what {
    width: 253px;
    display: block;
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
    font-size: 100%;
}

.home-wrapper .start-form .what .dropdown-toggle {
    box-sizing: content-box;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(205, 206, 206);
    border-radius: 4px;
    padding: 6px 8px 8px 8px;
    height: 18px;
    cursor: pointer;
}

.home-wrapper .start-form .what .dropdown-menu {
    top: inherit;
    left: 43px;
    width: 260px;
    z-index: 2000;
}

.home-wrapper .start-form input {
    width: 235px;
    display: block;
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
}

.home-wrapper .start-form .buttons {
    width: 254px;
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.home-wrapper .start-form .l-button {
    float: left;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, rgb(254, 131, 2), rgb(226, 76, 50));
    background-image: -moz-linear-gradient(top, rgb(254, 131, 2), rgb(226, 76, 50));
    background-image: -ms-linear-gradient(top, rgb(254, 131, 2), rgb(226, 76, 50));
    background-image: -o-linear-gradient(top, rgb(254, 131, 2), rgb(226, 76, 50));
    background-image: linear-gradient(top, rgb(254, 131, 2), rgb(226, 76, 50));
    color: white;
    font-size: 110%;
    width: 120px;
    margin-top: 0;
}

.home-wrapper .start-form .r-button {
    float: right;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, rgb(30, 200, 235), rgb(30, 142, 201));
    background-image: -moz-linear-gradient(top, rgb(30, 200, 235), rgb(30, 142, 201));
    background-image: -ms-linear-gradient(top, rgb(30, 200, 235), rgb(30, 142, 201));
    background-image: -o-linear-gradient(top, rgb(30, 200, 235), rgb(30, 142, 201));
    background-image: linear-gradient(top, rgb(30, 200, 235), rgb(30, 142, 201));
    color: white;
    font-size: 110%;
    width: 120px;
    margin-top: 0;
}

.home-wrapper .left-panel .show-list {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    z-index: 10;
    position: relative;
}

/* Right panel */

.home-wrapper .right-panel-show,
.home-wrapper .right-panel-hide {
    height: 48px;
    width: 48px;
    position: absolute;
    top: 13px;
    z-index: 100;
    cursor: pointer;
    padding-left: 15px;
    padding-top: 15px;
}
.home-wrapper .right-panel-show {
    right: -70px;
}

.home-wrapper .right-panel-hide {
    right: 510px;
}

.home-wrapper .left-panel.ui-show {
    width: 350px;
}

.home-wrapper .right-panel.ui-show {
    width: 490px;
}

.home-wrapper .left-panel.ui-hide,
.home-wrapper .right-panel.ui-hide {
    width: 0;
}

.home-wrapper .right-panel {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    width: 490px;
    height: 100%;
    position: relative;
    float: right;
}

.home-wrapper .right-panel .left-margin {
    margin-left: 45px;
}

.home-wrapper .right-panel .category-section {
    margin-bottom: 40px;
}

.home-wrapper .right-panel .category {
    color: rgb(100, 100, 100);
    font-size: 180%;
    margin-bottom: 15px;
    cursor: pointer;
}

.home-wrapper .right-panel .tag-w-count {
    color: rgb(143, 143, 143);
    font-size: 100%;
    display: inline-block;
    width: 200px;
    height: 55px;
    text-align: left;
    cursor: pointer;
    margin-bottom: 3px;
}

.home-wrapper .right-panel .category:hover {
    color: rgb(50, 50, 50);
}

.home-wrapper .right-panel .tag-w-count:hover {
    color: rgb(113, 113, 113);
}

.home-wrapper .right-panel .tag-w-count:hover .tag-count {
    color: rgb(177, 177, 177);
}

.home-wrapper .right-panel .tag-name {
    float: left;
    max-width: 130px;
    height: 100%;
    display: table;
}

.home-wrapper .right-panel .tag-name-tc {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.home-wrapper .right-panel .tag-count {
    margin-left: 5px;
    color: rgb(207, 207, 207);
}

.home-wrapper .right-panel .tag-icon {
    float: left;
    width: 54px;
    height: 54px;
    margin-right: 10px;
    display: table;
    background: url('/img/cat_bg.png') no-repeat transparent center center;
}

.home-wrapper .right-panel .tag-icon-tc {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;
}

/* Top buttons and search box */

.home-wrapper .top-buttons .lost-b,
.home-wrapper .top-buttons .found-b {
    width: 245px;
    height: 40px;
    text-align: center;
    float: left;
    font-size: 125%;
    color: #ffffff;
    padding: 5px 12px 0 12px;
}

.home-wrapper .top-buttons .found-b:focus,
.home-wrapper .top-buttons .lost-b:focus {
    outline: none;
}

.home-wrapper .top-buttons .found-b,
.home-wrapper .top-buttons .lost-b {
    background-color: rgb(245, 245, 245);
    color: rgb(180, 180, 180);
    border-bottom: 1px solid rgb(227, 227, 227);
}

.home-wrapper .top-buttons .lost-b {
    border-right: 1px solid rgb(227, 227, 227);
}

.home-wrapper .top-buttons .found-b {
    border-left: 1px solid rgb(227, 227, 227);
}

.home-wrapper .top-buttons .lost-b.active {
    color: rgb(222, 77, 12);
    background-color: transparent;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
}

.home-wrapper .top-buttons .found-b.active {
    color: rgb(30, 164, 213);
    background-color: transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
}

.home-wrapper .search-block {
    margin-top: 37px;
    margin-bottom: 40px;
}

.home-wrapper .search-block img {
    margin-top: -2px;
    vertical-align: middle;
}

.home-wrapper .search-block input {
    width: 385px;
    background: url('/img/search2.png') no-repeat rgb(245, 245, 245) 97% 55%;
}

/* end Top buttons and search box */

/* List of items */

.home-wrapper .right-panel .selected-category {
    margin-bottom: 10px;
    max-width: 395px;
    position: relative;
    color: rgb(100, 100, 100);
}

.home-wrapper .right-panel .selected-category .back {
    display: block;
    float: left;
    background: url('/img/back.png') no-repeat transparent left 43%;
    color: rgb(245, 159, 15);
    padding-left: 15px;
    cursor: pointer;
}

.home-wrapper .right-panel .selected-category .name-tag {
    color: rgb(155, 155, 155);
    display: block;
    float: right;
    max-width: 230px;
    text-align: right;
}

.home-wrapper .laf-item {
    border-top: 1px solid rgb(234, 234, 234);
    padding-bottom: 25px;
    width: 400px;
    cursor: pointer;
}

.app-wrapper .found-on-create-items .creation-date,
.app-wrapper .creation-date,
.home-wrapper .laf-item .when {
    margin-top: 15px;
    position: relative;
    color: rgb(84, 84, 84);
}

.home-wrapper .laf-item .messages-label {
    margin-right: 5px;
    color: rgb(183, 183, 183);
}

.home-wrapper .laf-item:hover {
    background-color: rgb(245, 245, 245);
}

.app-wrapper .found-on-create-items .creation-date .day,
.app-wrapper .creation-date .day,
.home-wrapper .laf-item .when .day {
    font-size: 220%;
    margin-right: 5px;
}

.app-wrapper .found-on-create-items .creation-date .month,
.app-wrapper .creation-date .month,
.home-wrapper .laf-item .when .month {
    margin-right: 5px;
}

.home-wrapper .laf-item .what {
    color: rgb(128, 128, 128);
    margin-bottom: 20px;
    margin-top: 10px;
    cursor: pointer;
}

/* end List of items */

/* Tags list */
.home-wrapper .tags-label {
    margin-right: 5px;
    color: rgb(183, 183, 183);
}

.home-wrapper .tags {
    color: rgb(90, 90, 90);
}

/* end Tags list */

/* Item details */

.home-wrapper .details-block {
    width: 400px;
    border-top: 1px solid rgb(234, 234, 234);
    position: relative;
}

.home-wrapper .details-block .settings-button {
    margin-top: 11px;
    float: right;
}

.home-wrapper .details-block .popover.settings-block.bottom .arrow {
    left: inherit;
    right: 18px;
}

.home-wrapper .details-block .popover.settings-block {
    border-radius: 0;
    top: 40px;
    right: 0;
    left: inherit;
    display: block;
}

.home-wrapper .details-block .settings-block .popover-content {
    padding: 15px 20px;
}

/*
.home-wrapper .details-block .settings-block .edit-button:hover,
.home-wrapper .details-block .settings-block .close-button:hover {
    outline-offset: 2px;
    outline: rgb(237, 170, 46) auto 5px;
}
*/

.home-wrapper .details-block .settings-block .edit-button {
    background: url('../img/edit3.png') no-repeat transparent 0 3px;
    border-bottom: 1px solid rgb(234, 234, 234);
    height: 35px;
    padding-top: 5px;
    padding-left: 35px;
    cursor: pointer;
}

.home-wrapper .details-block .settings-block .close-button {
    background: url('../img/ok2.png') no-repeat transparent 0 10px;
    height: 30px;
    padding-top: 12px;
    padding-left: 35px;
    cursor: pointer;
}

.app-wrapper .creation-form .picture,
.home-wrapper .details-block .picture {
    float: left;
    width: 102px;
    height: 102px;
    border: 1px solid rgb(205, 206, 206);
    margin-right: 25px;
    margin-top: 9px;
    vertical-align: middle;
    background-color: rgb(245, 245, 245);
    text-align: center;
}

.app-wrapper .creation-form .picture {
    border-radius: 4px;
}

.app-wrapper .creation-form .picture img,
.home-wrapper .details-block .picture img {
    max-width: 90px;
    max-height: 90px;
    vertical-align: middle;
    margin-left: -4px;
}

.home-wrapper .details-block .thumbnail-img {
    cursor: pointer;
}

.home-wrapper .details-block .what {
    float: left;
    color: rgb(64, 64, 64);
    font-size: 160%;
    margin-top: 10px;
    width: 270px;
    overflow-x: hidden;
}

.home-wrapper .share-section {
    padding: 20px 10px 20px 0;
}

.home-wrapper .contacts-section {
    position: relative;
    padding: 20px 10px 20px 0;
    border-bottom: 1px solid rgb(225, 225, 225);
}

.home-wrapper .tags-section {
    padding: 10px 0 10px 3px;
    border-bottom: 1px solid rgb(225, 225, 225);
}

.home-wrapper .when-where-section {
    padding: 20px 10px 20px 0;
    border-bottom: 1px solid rgb(225, 225, 225);
}

.home-wrapper .details-block .prev-laf-item.no-items,
.home-wrapper .details-block .next-laf-item.no-items {
    cursor: default;
}

.home-wrapper .details-block .navigation-bar {
    border-top: 1px solid rgb(227, 227, 227);
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 400px;
}

.home-wrapper .details-block .next-laf-item,
.home-wrapper .details-block .prev-laf-item {
    border: 1px solid rgb(255, 255, 255);
    float: left;
    cursor: pointer;
    padding: 5px;
    width: 48%;
    color: rgb(220, 220, 220);
}

.home-wrapper .details-block .prev-laf-item {
    float: left;
    text-align: right;
}

.home-wrapper .details-block .next-laf-item {
    float: right;
}

.home-wrapper .details-block .prev-laf-item img {
    margin-left: 10px;
}

.home-wrapper .details-block .next-laf-item img {
    margin-right: 10px;
}

/* end Item details */

/* Icon label block */

.home-wrapper .icon-label-b.float-left {
    float: left;
}

.home-wrapper .icon-label-b.float-right {
    float: right;
}

.home-wrapper .icon-label-b {
}

.home-wrapper .icon-label-b .label-b {
    margin-left: 30px;
    color: rgb(194, 194, 194);
}

.home-wrapper .icon-label-b .text-b {
    color: rgb(64, 64, 64);
    font-size: 120%;
    padding-left: 30px;
}

.home-wrapper .where-b {
    width: 230px;
    float: left;
}

.home-wrapper .where-b .text-b {
    width: 200px;
}

.home-wrapper .when-b {
    float: right;
}

.home-wrapper .person-b {
    width: 300px;
}

.home-wrapper .person-b,
.home-wrapper .email-b,
.home-wrapper .phone-b {
    margin-bottom: 20px;
}

.home-wrapper .phone-b {
    float: left;
}

.home-wrapper .email-b {
    max-width: 230px;
}

.home-wrapper .pen-b .text-b,
.home-wrapper .email-b .text-b {
    font-size: 110%;
    color: rgb(185, 215, 124);
    cursor: pointer;
}

.home-wrapper .lost-list .when-b .text-b {
    background: url('../img/icon_02.png') no-repeat transparent 0 3px;
}

.home-wrapper .lost-list .where-b .text-b {
    background: url('../img/icon_03.png') no-repeat transparent 0 5px;
}

.home-wrapper .lost-list .phone-b .text-b {
    background: url('../img/icon_04.png') no-repeat transparent 0 3px;
}

.home-wrapper .lost-list .email-b .text-b {
    background: url('../img/icon_05.png') no-repeat transparent 0 4px;
}

.home-wrapper .lost-list .pen-b .text-b {
    background: url('../img/icon_06.png') no-repeat transparent 0 3px;
}

.home-wrapper .lost-list .person-b .text-b {
    background: url('../img/icon_07.png') no-repeat transparent 0 3px;
}

.home-wrapper .found-list .when-b .text-b {
    background: url('../img/icon_02_0.png') no-repeat transparent 0 3px;
}

.home-wrapper .found-list .where-b .text-b {
    background: url('../img/icon_03_0.png') no-repeat transparent 0 5px;
}

.home-wrapper .found-list .phone-b .text-b {
    background: url('../img/icon_04_0.png') no-repeat transparent 0 3px;
}

.home-wrapper .found-list .email-b .text-b {
    background: url('../img/icon_05_0.png') no-repeat transparent 0 4px;
}

.home-wrapper .found-list .pen-b .text-b {
    background: url('../img/icon_06_0.png') no-repeat transparent 0 3px;
}

.home-wrapper .found-list .person-b .text-b {
    background: url('../img/icon_07_0.png') no-repeat transparent 0 3px;
}

/* end icon label block */

.home-wrapper .money {
    background: url('../img/money_icon.png') no-repeat transparent center center;
    height: 26px;
    width: 26px;
    float: right;
}

.home-wrapper .settings-button {
    cursor: pointer;
}

.app-wrapper .item-number:hover,
.app-wrapper .item-number:visited,
.app-wrapper .item-number {
    float: right;
    color: rgb(255, 255, 255);
    padding: 1px 5px 0px;
    border-radius: 4px;
    margin-top: 7px;
    margin-left: 10px;
    text-decoration: none;
}

.home-wrapper .item-closed {
    float: right;
    color: rgb(196, 196, 196);
    padding: 1px 5px 0px;
    border-radius: 4px;
    margin-top: 7px;
    margin-left: 7px;
    text-decoration: none;
}

.app-wrapper .details-block .item-number:hover,
.app-wrapper .details-block .item-number:visited,
.app-wrapper .details-block .item-number {
    margin-top: 13px;
}

.home-wrapper .details-block .item-closed {
    margin-top: 13px;
}

.app-wrapper .item-number.closed:visited,
.app-wrapper .item-number.closed:hover,
.app-wrapper .item-number.closed {
    background-color: rgb(195, 195, 195);
}

.app-wrapper .item-number.found:visited,
.app-wrapper .item-number.found:hover,
.app-wrapper .item-number.found {
    background-color: rgb(30, 191, 228);
}

.app-wrapper .item-number.lost:visited,
.app-wrapper .item-number.lost:hover,
.app-wrapper .item-number.lost {
    background-color: rgb(222, 77, 12);
}

/* Share section */

.home-wrapper .share-section {
    color: rgb(128, 128, 128);
    position: relative;
}

.home-wrapper .share-section .complain {
    color: rgb(204, 204, 204);
    cursor: pointer;
}

.home-wrapper .share-section .complain img {
    margin-right: 14px;
}

.home-wrapper .share-section img {
    margin-left: 23px;
    cursor: pointer;
}

/* end Share section */

.home-wrapper .marker-edit-mode {
    position: absolute;
    /*top: 13px;*/
    bottom: 20px;
    left: 450px;
    padding-top: 8px;
    width: 643px;
}

.home-wrapper .marker-edit-mode .button-base-small {
    margin-left: 10px;
}

.app-wrapper .marker-edit-mode.lost .where {
    background: url('../img/icon_03.png') no-repeat transparent 5px 9px;
}

.app-wrapper .marker-edit-mode.found .where {
    background: url('../img/icon_03_0.png') no-repeat transparent 5px 9px;
}

.app-wrapper .marker-edit-mode .where {
    float: left;
    padding-left: 30px;
}

.app-wrapper .marker-edit-mode .where {
    float: left;
    padding-left: 30px;
}

.app-wrapper .marker-edit-mode .where input {
    width: 396px;
    background-color: rgb(255, 255, 255);
    background-image: url('../img/pin_map.png');
    background-position: 390px 4px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.home-wrapper .user-panel {
    position: absolute;
    top: 13px;
    right: 580px;
}

.home-wrapper .user-panel .login-panel {
    background: url('../img/user-panel/login.png') no-repeat transparent 0 8px;
    height: 30px;
    padding-top: 7px;
    padding-left: 50px;
    padding-right: 10px;
    margin-left: 5px;
    cursor: pointer;
}

.home-wrapper .user-panel .info-panel {
    white-space: nowrap;
}

.home-wrapper .user-panel .info-panel .my-messages-button span,
.home-wrapper .user-panel .info-panel .my-items-button span {
    color: rgb(196, 196, 196);
}

.home-wrapper .user-panel .info-panel .my-messages-button {
    background: url('../img/user-panel/mesage.png') no-repeat transparent 33px 5px;
    display: inline-block;
    padding-right: 45px;
    border-right: 1px solid rgb(232, 232, 232);
    padding-top: 5px;
    cursor: pointer;
}

.home-wrapper .user-panel .info-panel .my-items-button {
    display: inline-block;
    padding-right: 5px;
    margin-left: 6px;
    padding-top: 5px;
    cursor: pointer;
}

.home-wrapper .user-panel .info-panel .my-items-button img {
    position: relative;
    top: -1px;
    margin-left: 8px;
}

/* end Home page */

/* Popup header */

.ci-popup {
    border-top: 2px solid;
    padding: 15px 35px 45px 35px;
    color: rgb(82, 82, 82);
}

.ci-popup.found {
    border-top-color: rgb(30, 164, 213);
}

.ci-popup.lost {
    border-top-color: rgb(222, 77, 12);
}

/* Login popup */

.app-wrapper .simple-login {
    width: 680px;
    padding: 20px;
}

.app-wrapper .simple-login .vk-login {
    float: left;
}

.app-wrapper .simple-login .fb-login {
    float: right;
}

.app-wrapper .login-modal .modal-dialog {
    width: 680px;
}

/* end Login popup */

/* Create message popup */

.app-wrapper .create-message-form {
    width: 640px;
    padding-top: 20px;
}

.app-wrapper .create-message-form.lost .message-text {
    background: url('../img/mesage.png') no-repeat transparent 0 30px;
    padding-left: 30px;
    position: relative;
}

.app-wrapper .create-message-form.found .message-text {
    background: url('../img/mesage_2.png') no-repeat transparent 0 30px;
    padding-left: 30px;
}

.app-wrapper .create-message-form textarea {
    width: 400px;
    height: 135px;
    resize: none;
}

.app-wrapper .create-message-form .login-buttons button {
    width: 48%;
}

.app-wrapper .create-message-form .login-buttons {
    margin-left: 30px;
    margin-top: 25px;
    width: 520px;
}

.app-wrapper .create-message-modal .message-cancel {
    float: left;
}

.app-wrapper .create-message-modal .message-send {
    float: right;
    position: relative;
}

.app-wrapper .create-message-modal .message-send img {
    position: absolute;
    left: 45px;
}

.app-wrapper .create-message-modal .modal-dialog {
    width: 640px;
}

/* end Create message popup */

/* Complaint popup */

.app-wrapper .complaint-form {
    width: 640px;
    padding-top: 30px;
}

.app-wrapper .complaint-form .complaint-reason {
    margin-left: 30px;
    position: relative;
    width: 520px;
}

.app-wrapper .complaint-form .complaint-header {
    background: url('../img/complain.png') no-repeat transparent 0 8px;
    padding-left: 30px;
    height: 30px;
    display: block;
    padding-top: 10px;
}

.app-wrapper .complaint-form .complaint-text {
    background: url('../img/icon_00.png') no-repeat transparent 0 30px;
    padding-left: 30px;
}

.app-wrapper .complaint-form select,
.app-wrapper .complaint-form textarea {
    width: 520px;
}

.app-wrapper .complaint-form textarea {
    height: 75px;
    resize: none;
}

.app-wrapper .complaint-form .complaint-buttons button {
    width: 48%;
}

.app-wrapper .complaint-form .complaint-buttons {
    margin-left: 30px;
    margin-top: 25px;
    width: 520px;
}

.app-wrapper .complaint-modal .complaint-cancel {
    float: left;
}

.app-wrapper .complaint-modal .complaint-send {
    float: right;
    position: relative;
}

.app-wrapper .complaint-modal .complaint-send img {
    position: absolute;
    left: 45px;
}

.app-wrapper .complaint-modal .modal-dialog {
    width: 640px;
}

/* end Complaint popup */

/* Create item popup */
.app-wrapper .modal-dialog {
    margin-top: 60px;
    width: 880px;
}

.app-wrapper .modal-content {
    position: relative;
    border: none;
    border-radius: 0;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
}

.app-wrapper .modal-backdrop.in {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.ci-popup .creation-date {
    color: rgb(128, 128, 128);
    margin-top: 0;
    margin-left: 30px;
}

.app-wrapper .creation-form input {
    padding: 9px 12px;
}

.app-wrapper .creation-form .what {
    padding-left: 30px;
    position: relative;
}

.app-wrapper .creation-form .what textarea {
    resize: none;
}

.app-wrapper .creation-form.lost .what {
    background: url('../img/icon_01.png') no-repeat transparent 5px 11px;
}

.app-wrapper .creation-form.found .what {
    background: url('../img/icon_01_0.png') no-repeat transparent 5px 11px;
}

.app-wrapper .creation-form .what textarea {
    width: 645px;
    height: 75px;
    padding: 8px;
}

.app-wrapper .creation-form.lost .where {
    background: url('../img/icon_03.png') no-repeat transparent 5px 30px;
}

.app-wrapper .creation-form.found .where {
    background: url('../img/icon_03_0.png') no-repeat transparent 5px 30px;
}

.app-wrapper .creation-form .where {
    float: left;
    padding-left: 30px;
    position: relative;
}

.app-wrapper .creation-form .where input {
    width: 396px;
    cursor: pointer;
}

.app-wrapper .creation-form .where img {
    position: absolute;
    right: 9px;
    top: 27px;
    cursor: pointer;
}

.app-wrapper .creation-form.lost .when {
    background: url('../img/icon_02.png') no-repeat transparent 5px 30px;
}

.app-wrapper .creation-form.found .when {
    background: url('../img/icon_02_0.png') no-repeat transparent 5px 30px;
}

.app-wrapper .creation-form .when {
    float: left;
    padding-left: 30px;
    margin-left: 10px;
}

.app-wrapper .creation-form .when input {
    width: 156px;
}

.app-wrapper .create-message-form .message-text,
.app-wrapper .complaint-form .complaint-reason,
.app-wrapper .complaint-form .complaint-text,
.app-wrapper .creation-form .refund-info,
.app-wrapper .creation-form .private-info,
.app-wrapper .creation-form .where,
.app-wrapper .creation-form .when,
.app-wrapper .creation-form .user-name,
.app-wrapper .creation-form .email,
.app-wrapper .creation-form .phone {
    margin-top: 15px;
}

.app-wrapper .create-message-form .message-text > span,
.app-wrapper .complaint-form .complaint-reason > span,
.app-wrapper .complaint-form .complaint-text > span,
.app-wrapper .creation-form .phone > span,
.app-wrapper .creation-form .email > span,
.app-wrapper .creation-form .user-name > span,
.app-wrapper .creation-form .where > span,
.app-wrapper .creation-form .when > span {
    color: rgb(148, 148, 148);
    font-size: 80%;
    margin-bottom: 5px;
    display: block;
}

.app-wrapper .creation-form .refund-info,
.app-wrapper .creation-form .private-info {
    margin-left: 30px;
    position: relative;
}

.app-wrapper .creation-form .refund-info span,
.app-wrapper .creation-form .private-info span {
    position: absolute;
    top: 2px;
    left: 20px;
}

.app-wrapper .creation-form.lost .user-name {
    background: url('../img/icon_07.png') no-repeat transparent 5px 30px;
}

.app-wrapper .creation-form.found .user-name {
    background: url('../img/icon_07_0.png') no-repeat transparent 5px 30px;
}

.app-wrapper .creation-form .user-name {
    float: left;
    padding-left: 30px;
}

.app-wrapper .creation-form .user-name input {
    width: 266px;
}

.app-wrapper .creation-form.lost .email {
    background: url('../img/icon_05.png') no-repeat transparent 5px 30px;
}

.app-wrapper .creation-form.found .email {
    background: url('../img/icon_05_0.png') no-repeat transparent 5px 30px;
}

.app-wrapper .creation-form .email {
    float: left;
    padding-left: 30px;
    margin-left: 30px;
}

.app-wrapper .creation-form .email input {
    width: 266px;
}

.app-wrapper .creation-form.lost .phone {
    background: url('../img/icon_04.png') no-repeat transparent 5px 30px;
}

.app-wrapper .creation-form.found .phone {
    background: url('../img/icon_04_0.png') no-repeat transparent 5px 30px;
}

.app-wrapper .creation-form .phone {
    float: left;
    padding-left: 30px;
}

.app-wrapper .creation-form .phone input {
    width: 266px;
}

.app-wrapper .creation-form .tags {
    border-bottom: 1px solid rgb(225, 225, 225);
    border-top: 1px solid rgb(225, 225, 225);
    margin-left: 30px;
    padding: 10px 3px;
    margin-top: 20px;
    width: 640px;
    position: relative;
}

.app-wrapper .creation-form .tags .tags-wrapper {
    float: left;
    width: 490px;
    margin-right: 20px;
}

.app-wrapper .creation-form .tags .tags-label {
    margin-right: 5px;
    display: inline-block;
}

.app-wrapper .creation-form .tag-value img {
    margin-left: 2px;
    cursor: pointer;
}

.app-wrapper .creation-form .tag-value span {
    padding-right: 5px;
    white-space: nowrap;
}

.app-wrapper .creation-form.lost .tags-wrapper .tag-value {
    color: rgb(222, 77, 12);
}

.app-wrapper .creation-form.found .tags-wrapper .tag-value {
    color: rgb(30, 164, 213);
}

.app-wrapper .creation-form .tags .add-tag-button {
    background: url('../img/add.png') no-repeat transparent 0 3px;
    color: rgb(148, 148, 148);
    padding-left: 30px;
    cursor: pointer;
    float: left;
}

.app-wrapper .start-form .dropdown-menu,
.app-wrapper .creation-form .tags .dropdown-menu {
    border-radius: 4px;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
}

.app-wrapper .start-form .dropdown-menu span,
.app-wrapper .creation-form .tags .dropdown-menu span {
    font-weight: bold;
}

.app-wrapper .start-form .dropdown-menu a:hover,
.app-wrapper .creation-form .tags .dropdown-menu a:hover {
    background-color: transparent;
    outline-offset: -2px;
    outline: rgb(237, 170, 46) auto 5px;
}

.app-wrapper .start-form .dropdown-menu a,
.app-wrapper .creation-form .tags .dropdown-menu a {
    display: block;
    margin-left: 5px;
    cursor: pointer;
}

.app-wrapper .create-message-form .vk-login,
.app-wrapper .create-message-form .fb-login,
.app-wrapper .simple-login .vk-login,
.app-wrapper .simple-login .fb-login,
.app-wrapper .creation-form .vk-login,
.app-wrapper .creation-form .fb-login {
    color: rgb(143, 143, 143);
    padding-left: 45px;
    position: relative;
}

.app-wrapper .create-message-form .vk-login img,
.app-wrapper .create-message-form .fb-login img,
.app-wrapper .simple-login .vk-login img,
.app-wrapper .simple-login .fb-login img,
.app-wrapper .creation-form .vk-login img,
.app-wrapper .creation-form .fb-login img {
    position: absolute;
    left: 15px;
}

.app-wrapper .creation-form .login-buttons {
    text-align: center;
    margin-left: 30px;
    margin-top: 30px;
    width: 640px;
}

.app-wrapper .create-message-form .vk-login,
.app-wrapper .create-message-form .fb-login,
.app-wrapper .simple-login .vk-login,
.app-wrapper .simple-login .fb-login,
.app-wrapper .creation-form .vk-login,
.app-wrapper .creation-form .fb-login {
    width: 48%;
}

.app-wrapper .create-message-form .vk-login,
.app-wrapper .creation-form .vk-login {
    float: left;
}

.app-wrapper .create-message-form .fb-login,
.app-wrapper .creation-form .fb-login {
    float: right;
}

.app-wrapper .creation-form .found-on-create-items {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 25px;
}

.app-wrapper .creation-form .found-on-create-items .found-header-block {
    margin-bottom: 20px;
}

.app-wrapper .creation-form .found-on-create-item {
    float: left;
    width: 365px;
    padding-right: 15px;
    margin-bottom: 15px;
}

.app-wrapper .creation-form .found-on-create-item .item-info {
    float: left;
}

.app-wrapper .creation-form .found-on-create-item .creation-date {
    margin-left: 0;
}

.app-wrapper .creation-form .found-on-create-items .picture {
    float: left;
    margin-right: 15px;
    width: 62px;
    height: 62px;
}

.app-wrapper .creation-form .found-on-create-items .picture img {
    max-width: 50px;
    max-height: 50px;
    vertical-align: middle;
    margin-left: -4px;
}

.app-wrapper .creation-form .c-button,
.app-wrapper .creation-form .s-button {
    border-radius: 4px;
    color: #ffffff;
    font-size: 110%;
    width: 120px;
}

.app-wrapper .creation-form.lost .s-button {
    background-image: -webkit-linear-gradient(top, rgb(254, 131, 2), rgb(226, 76, 50));
    background-image: -moz-linear-gradient(top, rgb(254, 131, 2), rgb(226, 76, 50));
    background-image: -ms-linear-gradient(top, rgb(254, 131, 2), rgb(226, 76, 50));
    background-image: -o-linear-gradient(top, rgb(254, 131, 2), rgb(226, 76, 50));
    background-image: linear-gradient(top, rgb(254, 131, 2), rgb(226, 76, 50));
}

.app-wrapper .creation-form.found .s-button {
    background-image: -webkit-linear-gradient(top, rgb(30, 200, 235), rgb(30, 142, 201));
    background-image: -moz-linear-gradient(top, rgb(30, 200, 235), rgb(30, 142, 201));
    background-image: -ms-linear-gradient(top, rgb(30, 200, 235), rgb(30, 142, 201));
    background-image: -o-linear-gradient(top, rgb(30, 200, 235), rgb(30, 142, 201));
    background-image: linear-gradient(top, rgb(30, 200, 235), rgb(30, 142, 201));
}

.app-wrapper .creation-form .c-button {
    background-image: -webkit-linear-gradient(top, rgb(120, 120, 120), rgb(96, 96, 96));
    background-image: -moz-linear-gradient(top, rgb(120, 120, 120), rgb(96, 96, 96));
    background-image: -ms-linear-gradient(top, rgb(120, 120, 120), rgb(96, 96, 96));
    background-image: -o-linear-gradient(top, rgb(120, 120, 120), rgb(96, 96, 96));
    background-image: linear-gradient(top, rgb(120, 120, 120), rgb(96, 96, 96));
    margin-right: 10px;
}

/* Datepicker */
.app-wrapper .dropdown-menu {
    z-index: 9999;
}

input[bs-datepicker] {
    width: 170px;
    background: url('../img/icon_calendar_mini.png') no-repeat #fff 95% 45%;
    cursor: pointer;
}

input[datepicker-popup] {
    background: url('../img/icon_calendar.png') no-repeat #fff 95% 45%;
    cursor: pointer;
}

/* end Datepicker */
/* todo to investigate
.my-crazy-animation {
    height: 0;
}
overflow: hidden;
-webkit-transition: 5s linear all;
transition: 5s linear all;
*/

/* Busy indicator */
.laf-busy {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.7;
}

.laf-busy-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.laf-busy-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #000000;
    font-size: 200%;
}

.app-wrapper .full-size-image-modal {
    text-align: center;
}

.app-wrapper .full-size-image-modal .modal-dialog {
    width: auto;
    display: inline-block;
}

.app-wrapper .full-size-image-modal .modal-content {
    padding: 10px;
}
