/* Balloon */
.balloon-content {
    border-radius: 4px;
    border: 10px solid rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
}

.balloon-content .substrate.short {
    width: 250px;
}

.balloon-content .substrate.long {
    width: 350px;
}

.balloon-content .substrate {
    padding: 11px;
    border-radius: 4px;
    border: 1px solid rgb(213, 213, 213);
    background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(242, 242, 242));
    background-image: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(242, 242, 242));
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(242, 242, 242));
    background-image: -o-linear-gradient(top, rgb(255, 255, 255), rgb(242, 242, 242));
    background-image: linear-gradient(top, rgb(255, 255, 255), rgb(242, 242, 242));
    white-space: nowrap;
}

.balloon-content .item-info {
    max-width: 200px;
    display: inline-block;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
}

.app-wrapper .balloon-content .picture {
    float: left;
    width: 102px;
    height: 102px;
    border: 1px solid rgb(205, 206, 206);
    margin-right: 20px;
    margin-top: 0;
    vertical-align: middle;
    background-color: rgb(245, 245, 245);
    text-align: center;
}

.balloon-content .picture {
    border-radius: 4px;
}

.balloon-content .picture img {
    max-width: 90px;
    max-height: 90px;
    vertical-align: middle;
    margin-left: -4px;
}

.balloon-content .when {
    display: inline-block;
    border-radius: 4px;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 120%;
    color: rgb(255, 255, 255);
}

.balloon-content.lost .when {
    background-color: rgb(222, 77, 12);
}

.balloon-content.found .when {
    background-color: rgb(30, 164, 213);
}

/* end Balloon */

/* Full screen button on map */

.app-wrapper .dg-map-btn-fullscreen {
    display: none;
}

/* end Full screen button on map */

.app-wrapper .dg-callout-top,
.app-wrapper .dg-callout-bottom,
.app-wrapper .dg-callout-tail {
    display: none;
}

.app-wrapper .dg-callout-scroll-fade,
.app-wrapper .dg-callout-top,
.app-wrapper .dg-callout-bottom,
.app-wrapper .dg-callout-content {
    padding: 0;
    border: none;
    border-radius: 0;
    background: none;
}

.app-wrapper .ymaps-b-balloon__content {
    border: none;
    background-color: transparent;
}

.app-wrapper .ymaps-shadows-pane,
.app-wrapper .ymaps-b-balloon__close,
.app-wrapper .ymaps-b-balloon__tr,
.app-wrapper .ymaps-b-balloon__tl,
.app-wrapper .ymaps-b-balloon__br,
.app-wrapper .ymaps-b-balloon__bl {
    display: none;
}
