.home-wrapper .ui-datepicker td:hover {
    color: inherit;
}

.home-wrapper .popover-title {
    background-color: #FFFFA9;
}

.home-wrapper .popover .meeting-name {
    margin-top: 10px;
}

.home-wrapper .popover span,
.home-wrapper .popover .meeting-name a {
    padding-right: 0;
    padding-left: 0;
    text-align: left;
}

.home-wrapper .popover .meeting-name a {
    color: #0088cc !important;
}

.home-wrapper .popover .meeting-name a:hover,
.home-wrapper .popover .meeting-name a:focus {
    color: #005580 !important;
    text-decoration: underline;
}

.home-wrapper .popover .meeting-address {
    margin-top: 5px;
    font-size: 80%;
    color: #A6A6A6;
}

.home-wrapper .popover .meeting-status {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 90%;
}

.home-wrapper .popover .members i {
    background: url('../img/icon_person_mini.png') no-repeat #fff 95% 45%;
    height: 16px;
    width: 14px;
    margin-top: 4px;
}

.home-wrapper .popover .questions i {
    background: url('../img/icon_questions_mini.png') no-repeat #fff 95% 45%;
    height: 14px;
    width: 12px;
    margin-top: 6px;
}

.home-wrapper .popover .members,
.home-wrapper .popover .questions {
    display: inline-block;
    min-width: 100px;
    font-size: 120%;
}
