<div class="container-fluid">
    <div class="row-fluid">
        <div class="span5 well">
            <table class="table">
                <caption>{{'company.companies'|translate}}</caption>
                <tbody>
                    <tr ng-repeat="company in companies" class="{{(selectedCompanyId == company.id) ? 'success' : ''}}">
                        <td>
                            <div ng-show="editedCompanyId != company.id">
                                <a href="" ng-click="selectCompany(company.id)">{{company.name}}</a>
                                <button ng-show="selectedCompanyId == company.id"
                                    class="btn btn-small btn-inverse pull-right" ng-click="editCompany(company.id)">
                                    <i class="icon-white icon-pencil"></i></button>
                            </div>

                            <div ng-show="editedCompanyId == company.id" class="control-group">
                                <div class="controls">
                                    <input type="text" placeholder="{{'company.name'|translate}}"
                                        ng-model="editedCompany.name">
                                    <button ng-show="editedCompany.status == status.ACTIVE"
                                        class="btn btn-danger {{(canArchiveCompany == true) ? '' : 'disabled'}}"
                                        ng-click="changeCompanyStatus(status.ARCHIVE)">
                                        <i class="icon-white icon-folder-close"></i></button>
                                    <button ng-show="editedCompany.status == status.ARCHIVE" class="btn btn-success"
                                        ng-click="changeCompanyStatus(status.ACTIVE)">
                                        <i class="icon-white icon-folder-open"></i></button><br/>
                                    <button class="btn btn-inverse" ng-click="cancelCompanyEdition()">
                                        {{'common.cancel'|translate}}</button>
                                    <button class="btn btn-danger {{(canDeleteCompany == true) ? '' : 'disabled'}}"
                                        ng-click="removeCompany()">{{'common.remove'|translate}}</button>
                                    <button class="btn btn-success {{(editedCompany.name != company.name && editedCompany.name.length > 0) ? '' : 'disabled'}}"
                                        ng-click="saveCompanyName(company.name)">{{'common.save'|translate}}</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a href="" ng-click="createCompany()" ng-show="newCompany == null"><i class="icon-plus-sign"></i>{{'company.createNew'|translate}}</a>
            <div ng-show="newCompany != null">
                <div class="control-group">
                    <div class="controls">
                        <input type="text" placeholder="{{'company.name'|translate}}" ng-model="newCompany.name">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-success" ng-click="saveCompany()">{{'common.save'|translate}}</button>
                        <button class="btn" ng-click="cancelCompanyCreation()">{{'common.cancel'|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="span5 offset2 well" ng-show="selectedCompanyId != null">
            <table class="table">
                <caption>{{'company.committees'|translate}}</caption>
                <tbody>
                    <tr ng-repeat="committee in committees" class="{{(selectedCommitteeId == committee.id) ? 'success' : ''}}">
                        <td>
                            <div ng-show="editedCommitteeId != committee.id">
                                <a href="" ng-click="selectCommittee(committee.id)">{{committee.name}}</a>
                                <button ng-show="selectedCommitteeId == committee.id"
                                        class="btn btn-small btn-inverse pull-right" ng-click="editCommittee(committee.id)">
                                    <i class="icon-white icon-pencil"></i></button>
                            </div>

                            <div ng-show="editedCommitteeId == committee.id" class="control-group">
                                <div class="controls">
                                    <input type="text" placeholder="{{'company.committee.name'|translate}}"
                                           ng-model="editedCommittee.name">
                                    <button ng-show="editedCommittee.status == status.ACTIVE"
                                            class="btn btn-danger {{(canArchiveCommittee == true) ? '' : 'disabled'}}"
                                            ng-click="changeCommitteeStatus(status.ARCHIVE)">
                                        <i class="icon-white icon-folder-close"></i></button>
                                    <button ng-show="editedCommittee.status == status.ARCHIVE" class="btn btn-success"
                                            ng-click="changeCommitteeStatus(status.ACTIVE)">
                                        <i class="icon-white icon-folder-open"></i></button><br/>
                                    <button class="btn btn-inverse" ng-click="cancelCommitteeEdition()">
                                        {{'common.cancel'|translate}}</button>
                                    <button class="btn btn-danger {{(canDeleteCommittee == true) ? '' : 'disabled'}}"
                                            ng-click="removeCommittee()">{{'common.remove'|translate}}</button>
                                    <button class="btn btn-success {{(editedCommittee.name != committee.name && editedCommittee.name.length > 0) ? '' : 'disabled'}}"
                                            ng-click="saveCommitteeName(committee.name)">{{'common.save'|translate}}</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a href="" ng-click="addCommittee()" ng-show="newCommittee == null"><i class="icon-plus-sign"></i>{{'company.addCommittee'|translate}}</a>
            <div ng-show="newCommittee != null">
                <div class="control-group">
                    <div class="controls">
                        <input type="text" placeholder="{{'company.committee.name'|translate}}" ng-model="newCommittee.name">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-success" ng-click="saveCommittee()">{{'common.save'|translate}}</button>
                        <button class="btn" ng-click="cancelCommitteeCreation()">{{'common.cancel'|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 well" ng-show="selectedCompanyId != null">
            <div ng-show="noOfPages > 1">
                <pagination num-pages="noOfPages" current-page="currentPage" max-size="maxPageShow" boundary-links="true"
                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
            </div>
            <table class="table">
                <caption ng-show="selectedCommitteeId == null">{{'company.users'|translate}}</caption>
                <caption ng-show="selectedCommitteeId != null">{{'company.committee.users'|translate}}</caption>
                <hr>
                <thead>
                    <tr>
                        <td>{{'company.user.login'|translate}}</td>
                        <td>{{'company.user.firstName'|translate}}</td>
                        <td>{{'company.user.middleName'|translate}}</td>
                        <td>{{'company.user.position'|translate}}</td>
                        <td ng-show="selectedCommitteeId == null">{{'company.user.deleteFromCompany'|translate}}</td>
                        <td ng-show="selectedCommitteeId != null">{{'company.user.deleteFromCommittee'|translate}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="position in positions">
                        <td>{{position.userCompany.user.login}}</td>
                        <td>{{position.userCompany.user.firstName}}</td>
                        <td>{{position.userCompany.user.middleName}}</td>
                        <td>{{position.position}}</td>
                        <td>
                            <a href="" ng-show="selectedCommitteeId == null" ng-click="deleteUserFromCompany(position.userCompany.user.id)">
                                <i class="icon-minus-sign"></i>{{'company.user.deleteFromCompany'|translate}}</a>
                            <a href="" ng-show="selectedCommitteeId != null" ng-click="deleteUserFromCommittee(position.userCompany.user.id)">
                                <i class="icon-minus-sign"></i>{{'company.user.deleteFromCommittee'|translate}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-show="selectedCommitteeId == null">
                <a href="" ng-click="addUserToCompany()" ng-show="newCompanyPosition == null">
                    <i class="icon-plus-sign"></i>{{'company.addUser'|translate}}</a>
                <div ng-show="newCompanyPosition != null">
                    <div class="control-group">
                        <div class="controls">
                            <input type="text" placeholder="{{'company.position'|translate}}" ng-model="newCompanyPosition.position">
                            <select ng-model="newCompanyPosition.userCompany.user.id">
                                <option ng-repeat="user in possibleUsers" value="{{user.id}}">
                                    {{user.login}} ({{user.firstName}} {{user.middleName}})</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button class="btn btn-success {{(newCompanyPosition.position.length > 0 && newCompanyPosition.userCompany.user != null) ? '' : 'disabled'}}"
                                ng-click="confirmUserAdditionToCompany()">{{'company.add'|translate}}</button>
                            <button class="btn" ng-click="cancelUserAdditionToCompany()">{{'common.cancel'|translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="selectedCommitteeId != null">
                <a href="" ng-click="addUserToCommittee()" ng-show="newCommitteeUser == null">
                    <i class="icon-plus-sign"></i>{{'company.committee.addUser'|translate}}</a>
                <div ng-show="newCommitteeUser != null">
                    <div class="control-group">
                        <div class="controls">
                            <select ng-model="newCommitteeUser.id">
                                <option ng-repeat="user in possibleUsers" value="{{user.id}}">
                                    {{user.login}} ({{user.firstName}} {{user.middleName}})</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button class="btn btn-success {{(newCommitteeUser.id != null) ? '' : 'disabled'}}"
                                ng-click="confirmUserAdditionToCommittee()">{{'company.add'|translate}}</button>
                            <button class="btn" ng-click="cancelUserAdditionToCommittee()">{{'common.cancel'|translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button class="btn" ng-click="goBack()">{{'common.back'|translate}}</button>
        </div>
    </div>
</div>