<div class="ci-popup create-message-form {{item.itemType == 'LOST' ? 'lost' : 'found'}}">
    <!-- todo tabs -->
    <div ng-repeat="user in users" ng-click="selectUser(user)">
        {{user.name ? user.name : 'Anonim'}}
    </div>
    <div class="item-m-panel">
        <span class="item-number {{item.closed ? 'closed' : item.itemType == 'LOST' ? 'lost' : 'found'}}">#&nbsp;{{selectedItem.number}}</span>
        <span>{{item.what|truncate:65}}</span>
    </div>
    <div class="messages-panel nano clearfix" ng-if="utilsService.isNotEmptyArray(messages)">
        <div class="content clearfix">
            <div class="message-panel clearfix {{!$last ? 'with-border' : ''}}" ng-repeat="message in filterMessages()">
                <img src="{{isMessageOwner(message) ? 'img/message/ia.png' : 'img/message/ia_on.png'}}">
                <span>{{message.text}}</span>
            </div>
        </div>
    </div>
    <div class="message-text clearfix">
        <span><label for="messageText">Сообщение</label></span>

        <div>
            <textarea id="messageText" ng-model="message.text"></textarea>
        </div>

        <div class="picture-block">
            <span><label for="photos-input">Загрузить фото</label></span>

            <div class="picture">
                <span class="img-va-helper"></span>
                <img id="photo-preview" src="/img/icon_camera.png">
            </div>
            <input type="file" class="hidden ng-pristine ng-valid" name="photos" id="photos-input" ng-model="photoPath"
                   ng-change="uploadPhoto()">
        </div>
    </div>

    <div class="clearfix login-buttons" ng-show="authService.currentUserHolder.id">
        <button ng-click="cancel()" class="button-base message-cancel">Отмена</button>
        <button ng-click="saveMessage()" class="button-base message-send">
            <img src="{{item.itemType == 'LOST' ? '/img/ok2.png' : '/img/ok3.png'}}">
            Отправить
        </button>
    </div>
    <div class="clearfix login-buttons" ng-show="!authService.currentUserHolder.id">
        <button class="button-base vk-login" ng-click="startSpin(); authService.vk.login(setCurrentUser);">
            <img src="/img/button_vk.png">
            Войти через Vkontakte
        </button>
        <button class="button-base fb-login" ng-click="startSpin(); authService.fb.login(setCurrentUser);">
            <img src="/img/button_facebook.png">
            Войти через Facebook
        </button>
    </div>
</div>
