<div class="home-wrapper">
    <div class="left-panel" ng-show="!isCollapsed">
        <div class="top-logo">
            <img class="img-logo" src="/img/logo_01.png">
            <img class="text-logo" src="/img/logo2.png">

            <div class="hr">&nbsp;</div>
            <span class="city">{{currentCity}}</span>
        </div>
        <div class="start-form clearfix">
            <input type="text" name="where" placeholder="Где" ng-model="laf.where">
            <input type="text" name="what" placeholder="Что" ng-model="laf.what"
                   typeahead="thing for thing in whatDict | filter:$viewValue | limitTo:8">
            <input type="text" name="when" placeholder="Когда" datepicker-popup="{{dateFormat}}" show-button-bar="false"
                   show-weeks="false" datepicker-append-to-body="true" ng-model="laf.when">

            <div class="buttons clearfix">
                <button class="l-button">Я ПОТЕРЯЛ</button>
                <button class="r-button">Я НАШЕЛ</button>
            </div>
        </div>

        <div class="musor">&nbsp;</div>
    </div>
    <div class="map-panel"></div>
    <div class="right-panel-show" ng-click="isCollapsed = !isCollapsed" ng-show="!isCollapsed"></div>
    <div class="right-panel-hide" ng-click="isCollapsed = !isCollapsed" ng-show="isCollapsed"></div>
    <div class="right-panel" ng-show="isCollapsed">
        <div class="top-buttons clearfix">
            <button ng-click="lafListSelect('lost')" class="lost-b active">
                <span>Утеряно</span>
            </button>
            <button ng-click="lafListSelect('found')" class="found-b">
                <span>Найдено</span>
            </button>
        </div>
        <div class="search-block left-margin">
            <span ng-click="clearCategorySelection()">
                <img src="/img/icon_menu2.png" alt="" tooltip="Вернуться к списку категорий"
                     tooltip-placement="right" tooltip-trigger="mouseenter">
            </span>
            <input type="text" placeholder="Подробности" ng-model="searchQuery"
                   typeahead="thing for thing in whatDict | filter:$viewValue | limitTo:8">
        </div>
        <div class="selected-category left-margin" ng-show="selectedCategory != null"><span class="name">{{selectedCategory.name}}</span>
            <span class="tag" ng-show="selectedTag != null">/&nbsp;&nbsp;{{selectedTag.name}}&nbsp;&nbsp;{{selectedTag.count}}</span>
        </div>
        <div class="details-block left-margin" ng-show="selectedItem != null">
            <div class="creation-date">
                <span class="day">{{selectedItem.creationDate | date:'dd'}}</span>
                <span class="month">{{selectedItem.creationDate | date:'MMMM'}}</span>
                <span class="year">{{selectedItem.creationDate | date:'yyyy'}}</span>
            </div>
            <div class="clearfix">
                <div class="picture"></div>
                <div class="what">{{selectedItem.what}}</div>
            </div>
            <div class="where">{{selectedItem.where}}</div>
            <div class="">{{selectedItem.when}}</div>
            <div>
                <span class="tags-label" ng-show="item.tags.length > 0">Tags:</span>
                <span class="tags" ng-show="item.tags.length > 0">{{joinTags(selectedItem.tags)}}</span>
            </div>
        </div>
        <div class="scroll-content" ng-show="showSelectedCategory" style="height: 100%;">
            <div class="laf-item left-margin" ng-repeat="item in lostAndFoundItems" ng-click="openItem(item)">
                <div class="when">
                    <span class="day">{{item.creationDate | date:'dd'}}</span>
                    <span class="month">{{item.creationDate | date:'MMMM'}}</span>
                    <span class="year">{{item.creationDate | date:'yyyy'}}</span>
                </div>
                <div class="what" ng-click="openItem(item)">{{item.what}}</div>
                <!--todo каждый тэг отдельно кликабельный!!-->
                <div><span class="tags-label" ng-show="item.tags.length > 0">Tags:</span><span class="tags"
                                                                                               ng-show="item.tags.length > 0">{{joinTags(item.tags)}}</span>
                </div>
            </div>
            <!--todo кнопка исчо или безконечный скролл-->
        </div>
        <div class="scroll-content" ng-show="showCategoriesList" style="height: 100%;">
            <div ng-repeat="category in categories" class="clearfix category-section left-margin">
                <div class="category" ng-click="selectCategoryAndTag(category.name, null)">{{category.name}}</div>
                <div class="tag-w-count clearfix" ng-repeat="tag in category.tags"
                     ng-click="selectCategoryAndTag(category, tag)">
                <span class="tag-icon">
                    <span class="tag-icon-tc">
                        <img src="{{getIconByTag(tag.name)}}" alt="">
                    </span>
                </span>
                <span class="tag-name">
                    <span class="tag-name-tc">
                        <span>{{tag.name}}&nbsp;<span class="tag-count">{{tag.count}}</span></span>
                    </span>
                </span>
                </div>
            </div>
        </div>
    </div>
</div>