<!--*****************Модальное окно митинга для календаря на домашней странице*************************************-->
<div class="modal-header">
    <span>{{meeting.dateAndTime | date:'dd'}}</span>
    <span>{{meeting.dateAndTime | date:'MMMM yyyy'}}</span>
    <span>[{{meeting.dateAndTime | date:'HH:mm'}}]</span>
</div>
<div class="modal-body">
    <div><a href="" ng-click="close(meeting.id)">{{meeting.name}}</a></div>
    <div><small class="muted">{{meeting.address}}</small></div>
    <div class="row-fluid">
        <span class="span6"><i class="icon-user"></i>{{meeting.usersCount}}</span>
        <span class="span6"><i class="icon-folder-close"></i>{{meeting.questionsCount}}</span>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning cancel" ng-click="close()">{{'common.cancel'|translate}}</button>
</div>
