<div class="home-wrapper animate-switch-container clearfix">
<!--
    <div style="position: absolute;left: 500px;z-index: 200;background-color: white;">
        <div ng-repeat="testUser in testUsers">
            <div ng-click="authService.testLogin(testUser)">{{testUser.name}}</div>
        </div>
    </div>
-->
    <div class="on-map-panel marker-edit-mode animate-show {{middleStateItem.itemType == 'LOST' ? 'lost' : 'found'}}" ng-show="middleStateItem">
    <div class="where">
        <input type="text" ng-model="middleStateItem.where" placeholder="Где"
               typeahead="address for address in mapService.whereTypeahead($viewValue) | filter:$viewValue | limitTo:8"
               typeahead-on-select="mapService.getPointByAddress(middleStateItem.where, null)"
               typeahead-loading="dadataMiddleStateItemSearchIndicator" tooltip="Укажите на карте или выберите из списка"
               tooltip-placement="left" tooltip-append-to-body="true" tooltip-popup-delay="500" >
        <img ng-show="dadataMiddleStateItemSearchIndicator" src="img/li_mini.gif">
    </div>
    <button ng-click="setNewPlace(false)" tooltip-html-unsafe="Вернуться к <br/>редактированию объявления" tooltip-placement="top" tooltip-popup-delay="500" tooltip-append-to-body="true"
            class="button-base-small {{middleStateItem.itemType == 'LOST' ? 'lost' : 'found'}}">Выбрать</button>
    <button ng-click="setNewPlace(true)" class="button-base-small cancel">Отмена</button>
</div>
    <div class="left-panel animate-show" ng-show="!rightPanelVisible && !mapFullScreen">
        <div class="right-panel-show on-map-panel" ng-click="collapse()" ng-show="!mapFullScreen">
            <img src="img/left.png" ng-show="!rightPanelVisible">
            <img src="img/search.png" ng-show="rightPanelVisible">
        </div>
        <div class="v-align-table">
            <div class="v-align-cell">
            <div class="top-logo">
                <img class="img-logo" src="/img/icon_left_panel.png">
                <img class="text-logo" src="/img/logos/02_b.png">
                <span class="city">{{currentCity.name}}</span>
            </div>
            <div class="start-form clearfix">
                <div class="where">
                    <input type="text" name="where" placeholder="Где" ng-model="laf.where"
                           typeahead="address for address in mapService.whereTypeahead($viewValue) | filter:$viewValue | limitTo:8"
                           typeahead-on-select="mapService.getPointByAddress(laf.where, null)"
                           typeahead-loading="dadataSearchIndicator" tooltip="Укажите на карте или выберите из списка"
                           tooltip-placement="right" tooltip-append-to-body="true">
                    <img ng-show="dadataSearchIndicator" src="img/li_mini.gif">
                </div>
                <div class="what">
                    <div class="dropdown-toggle input-color">{{laf.tags[0] ? laf.tags[0] : 'Что'}}</div>
                    <ul class="dropdown-menu">
                        <li ng-repeat="category in categories">
                            {{category.name}}
                            <a ng-repeat="tag in category.tags" ng-click="laf.tags = [tag]">{{tag}}</a>
                        </li>
                    </ul>
                </div>
                <input type="text" name="when" placeholder="Когда" datepicker-popup="{{dateFormat}}" show-button-bar="false"
                       show-weeks="false" datepicker-append-to-body="true" ng-model="laf.when">

                <div class="buttons clearfix">
                    <button class="l-button colored-button" ng-click="createItemModal('LOST')">Я ПОТЕРЯЛ</button>
                    <button class="r-button colored-button" ng-click="createItemModal('FOUND')">Я НАШЕЛ</button>
                </div>
            </div>
            <div class="show-list clearfix">
                <div class="dashed-text" ng-click="collapse()">Перейти к списку объявлений</div>
            </div>
            <div class="copyright">
                &copy; 2014 Потеряшки <a class="dashed-text" href="mailto:support@find.nsk.ru">Служба поддержки.</a>
            </div>
        </div>
        </div>
    </div>
    <div id="map-panel" class="map-panel"></div>
    <div class="right-panel animate-show {{categoriesListType == 'LOST' ? 'lost-list' : 'found-list'}}" ng-show="rightPanelVisible && !mapFullScreen" ng-click="showSettings = false">
        <div class="user-panel on-map-panel" ng-show="!mapFullScreen">
            <div class="back-block on-map-panel hidden">
                <img src="img/li_max.gif">
            </div>
            <div class="login-panel" ng-click="showLoginModal()" ng-show="!authService.currentUserHolder">Войти</div>
            <div class="info-panel" ng-show="authService.currentUserHolder">
                <div class="my-messages-button" ng-click="createMessageModal()" tooltip-html-unsafe="Мои обсуждения<br/> Новые сообщения (Всего обсуждений)" tooltip-placement="bottom" tooltip-append-to-body="true">
                    {{authService.currentUserHolder.newMessagesCount ? authService.currentUserHolder.newMessagesCount : 0}}<span>({{authService.currentUserHolder.chatsCount ? authService.currentUserHolder.chatsCount : 0}})</span>
                    <img src="img/user-panel/mesage.png">
                </div>
                <div class="my-items-button" ng-click="showMyItems()" tooltip-html-unsafe="Мои объявления<br/> Активные (Закрытые)" tooltip-placement="bottom">
                    {{authService.currentUserHolder.itemsCount}}<span ng-show="authService.currentUserHolder.closedCount">({{authService.currentUserHolder.closedCount}})</span>
                    <img src="img/user-panel/my.png">
                </div>
                <div class="favorites-button" ng-click="showFavoriteItems()">
                    {{authService.currentUserHolder.favorite.favorites.length}}
                    <img src="img/fav_on.png">
                </div>
                <div class="logout-button" ng-click="authService.logout(); goBackToCategories();">
                    выход
                    <img src="img/exit.png">
                </div>
            </div>
        </div>
        <div class="right-panel-hide on-map-panel" ng-click="collapse()" ng-show="!mapFullScreen">
            <img src="img/right.png" ng-show="rightPanelVisible">
            <img src="img/icon_menu.png" ng-show="!rightPanelVisible">
        </div>
        <div class="top-buttons clearfix">
            <button ng-click="setCategoriesListType('LOST'); urlBuildingService.deselectItem();" class="lost-b active">
                <span>У</span>
                <span>Т</span>
                <span>Е</span>
                <span>Р</span>
                <span>Я</span>
                <span>Н</span>
                <span>О</span>
            </button>
            <button ng-click="setCategoriesListType('FOUND'); urlBuildingService.deselectItem();" class="found-b">
                <span>Н</span>
                <span>А</span>
                <span>Й</span>
                <span>Д</span>
                <span>Е</span>
                <span>Н</span>
                <span>О</span>
            </button>
        </div>
        <div class="search-block left-margin">
            <input type="text" placeholder="Искать" ng-model="searchQuery" ng-change="search()">
            <img class="hidden" src="img/li_mini.gif">
        </div>
        <div class="selected-category left-margin clearfix" ng-show="selectedCategory != null">
            <div class="clearfix">
                <span class="back" ng-if="selectedItem == null" ng-click="goBackToCategories();">К списку категорий</span>
                <span class="back" ng-if="selectedItem != null" ng-click="goBackToSelectedCategory(); urlBuildingService.deselectItem();">К списку объявлений</span>
                <span class="name-tag" ng-show="!searchItemsMode || searchItemsMode && itemsList.lostAndFoundItems.length > 0">
                    {{selectedCategory.name}}
                    <span ng-show="selectedTag != null">&nbsp;&nbsp;/&nbsp;&nbsp;{{selectedTag}}&nbsp;&nbsp;{{getCountByTag(selectedTag)}}</span>
                    <span ng-show="searchItemsMode">&nbsp;&nbsp;{{itemsList.lostAndFoundItems.length}}</span>
                </span>
            </div>
            <div class="category-border clearfix">&nbsp;</div>
        </div>
        <div class="nano details-block-scroll" style="height: {{detailsBlockHeight}}px" ng-show="selectedItem != null">
            <div class="content scroll-content left-margin">
                <div class="details-block">
                    <div class="creation-date">
                        <img src="/img/fav_on.png" class="fav-button" ng-if="authService.currentUserHolder && isInFavorite(selectedItem)" ng-click="favoriteOnOff(selectedItem)">
                        <img src="/img/fav_off.png" class="fav-button" ng-if="authService.currentUserHolder && !isInFavorite(selectedItem)" ng-click="favoriteOnOff(selectedItem)">

                        <span class="day">{{selectedItem.creationDate | date:'dd'}}</span>
                        <span class="month">{{selectedItem.creationDate | date:'MMMM'}}</span>
                        <span class="year">{{selectedItem.creationDate | date:'yyyy'}}</span>
                        <a href="{{utilsService.getCurrentPath()}}?number={{selectedItem.number}}" class="item-number {{selectedItem.closed ? 'closed' : selectedItem.itemType == 'LOST' ? 'lost' : 'found'}}" tooltip="Ссылка на объявление"
                           tooltip-placement="bottom" ng-click="$event.stopPropagation();">#&nbsp;{{selectedItem.number}}</a>
                        <img class="settings-button" src="img/settings.png" ng-show="selectedItem.myItem || authService.currentUserHolder.id == selectedItem.author" ng-click="showItemSettings($event); $event.stopPropagation();">
                        <div class="popover settings-block bottom fade in" ng-class="{ in: isOpen(), fade: animation() }" style="display: none;">
                            <div class="arrow"></div>
                            <div class="popover-inner">
                                <div class="popover-content">
                                    <div class="edit-button" ng-click="editItemModal(null, selectedItem);">Редактировать</div>
                                    <div class="close-button" ng-click="markItemAsClosed(selectedItem);">{{selectedItem.closed ? 'Открыть' : 'Закрыть'}}</div>
                                </div>
                            </div>
                        </div>
                        <span class="money" ng-show="selectedItem.money" tooltip="За вознаграждение!" tooltip-placement="left">&nbsp;</span>
                        <span class="item-closed" ng-show="selectedItem.closed">Закрыто</span>
                    </div>
                    <div class="clearfix">
                        <div class="picture">
                            <span class="img-va-helper"></span>
                            <img class="thumbnail-img" ng-src="api/items/photo/{{selectedItem.thumbnailId}}" ng-if="selectedItem && selectedItem.thumbnailId" ng-click="showFullSIzeImageModal(selectedItem)">
                            <img src="/img/icon_camera.png" ng-show="!selectedItem.photoId">
                        </div>
                        <div class="what">{{selectedItem.what}}</div>
                    </div>
                    <div class="when-where-section clearfix">
                        <div class="icon-label-b where-b">
                            <div class="label-b">где {{selectedItem.itemType == 'LOST' ? 'утеряно' : 'найдено'}}</div>
                            <div class="text-b">{{selectedItem.where}}</div>
                        </div>
                        <div class="icon-label-b when-b">
                            <div class="label-b">когда {{selectedItem.itemType == 'LOST' ? 'утеряно' : 'найдено'}}</div>
                            <div class="text-b">
                                <span class="day">{{selectedItem.when | date:'dd'}}</span>
                                <span class="month">{{selectedItem.when | date:'MMM'}}</span>
                                <span class="year">{{selectedItem.when | date:'yyyy'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="tags-section" ng-show="selectedItem.tags.length > 0">
                        <span class="tags-label">Категории:</span>
                        <span class="tags {{selectedItem.itemType == 'LOST' ? 'lost' : 'found'}}">{{joinTags(selectedItem.tags)}}</span>
                    </div>
                    <div class="contacts-section clearfix">
                        <div class="clearfix" ng-show="selectedItem.showPrivateInfo && selectedItem.user && selectedItem.user.name">
                            <div class="icon-label-b person-b">
                                <div class="label-b">контактное лицо</div>
                                <div class="text-b">{{selectedItem.user.name}}
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="icon-label-b phone-b" ng-show="selectedItem.showPrivateInfo && selectedItem.user && selectedItem.user.phone">
                                <div class="text-b">{{selectedItem.user.phone}}</div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="icon-label-b email-b float-left" ng-show="selectedItem.showPrivateInfo && selectedItem.user && selectedItem.user.email">
                                <div class="text-b">{{selectedItem.user.email}}</div>
                            </div>
                        </div>
                        <div class="icon-label-b pen-b clearfix" ng-click="createMessageModal(selectedItem)">
                            <div class="text-b">Написать личное сообщение</div>
                            <div class="chat-count clearfix" ng-if="selectedItem.countOfMessages > 0"><span>{{selectedItem.countOfNewMessages}}</span>&nbsp;<span class="total">({{selectedItem.countOfMessages}})</span>
                                <img src="/img/mesage_2a.png" ng-if="selectedItem.itemType == 'LOST'">
                                <img src="/img/mesage_2.png" ng-if="selectedItem.itemType == 'FOUND'"></div>
                        </div>
                    </div>
                    <div class="share-section">
                        <span>Поделиться</span>
                        <img src="/img/share_twitt.png" alt="Twitter" ng-click="shareService.twitter(selectedItem)">
                        <img src="/img/share_vkontacte.png" alt="ВКонтакте" ng-click="shareService.vkontakte(selectedItem)">
                        <img src="/img/share_facebook.png" alt="Facebook" ng-click="shareService.facebook(selectedItem)">
                        <span class="complain" ng-click="showComplaintModal(selectedItem)">
                            <img src="/img/complain.png" alt="Пожаловаться">
                            Пожаловаться
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="navigation-bar" ng-show="selectedItem != null">
            <div class="prev-laf-item no-items" ng-show="!hasNextItem(selectedItem, true)">Предыдущее<img
                    src="/img/top-grey.png" alt="prev"></div>
            <div class="prev-laf-item" ng-show="hasNextItem(selectedItem, true)" ng-click="openNextItem(selectedItem, true)">Предыдущее<img
                    src="/img/top.png" alt="prev"></div>
            <div class="next-laf-item no-items" ng-show="!hasNextItem(selectedItem, false)"><img
                    src="/img/bottom-grey.png" alt="prev">Следующее</div>
            <div class="next-laf-item" ng-show="hasNextItem(selectedItem, false)" ng-click="openNextItem(selectedItem, false)"><img
                    src="/img/bottom.png" alt="prev">Следующее</div>
        </div>

        <div class="nano items-list-scroll" style="height: {{itemsListHeight}}px" ng-show="showSelectedCategory">
            <div class="content scroll-content" ng-show="showSelectedCategory">
                <div class="laf-item left-margin" ng-repeat="item in itemsList.lostAndFoundItems" ng-click="openItem(item)">
                    <div class="when">
                        <img src="/img/fav_on.png" class="fav-button" ng-if="authService.currentUserHolder && isInFavorite(item)" ng-click="favoriteOnOff(item); $event.stopPropagation();">
                        <img src="/img/fav_off.png" class="fav-button" ng-if="authService.currentUserHolder && !isInFavorite(item)" ng-click="favoriteOnOff(item); $event.stopPropagation();">

                        <span class="day">{{item.creationDate | date:'dd'}}</span>
                        <span class="month">{{item.creationDate | date:'MMMM'}}</span>
                        <span class="year">{{item.creationDate | date:'yyyy'}}</span>
                        <a href="{{utilsService.getCurrentPath()}}?number={{item.number}}" class="item-number   {{item.closed ? 'closed' : item.itemType == 'LOST' ? 'lost' : 'found'}}" tooltip="Ссылка на объявление" tooltip-placement="bottom" ng-click="$event.stopPropagation();">#&nbsp;{{item.number}}</a>
                        <img class="settings-button" src="img/settings.png" ng-show="item.myItem || authService.currentUserHolder.id == item.author" ng-click="showItemSettings($event); $event.stopPropagation();">
                        <div class="popover settings-block bottom fade in" ng-class="{ in: isOpen(), fade: animation() }" style="display: none;">
                            <div class="arrow"></div>
                            <div class="popover-inner">
                                <div class="popover-content">
                                    <div class="edit-button" ng-click="editItemModal(null, item); $event.stopPropagation();">Редактировать</div>
                                    <div class="close-button" ng-click="markItemAsClosed(item); $event.stopPropagation();">{{item.closed ? 'Открыть' : 'Закрыть'}}</div>
                                </div>
                            </div>
                        </div>
                        <span class="money" ng-show="item.money" tooltip="За вознаграждение!" tooltip-placement="left">&nbsp;</span>
                        <span class="item-closed" ng-show="item.closed">Закрыто</span>
                    </div>
                    <div class="what" ng-click="openItem(item)">{{item.what}}</div>
                    <!--todo каждый тэг отдельно кликабельный!!-->
                    <div ng-if="item.tags.length > 1 || myItemsMode"><span class="tags-label">Категории:</span><span class="tags {{item.itemType == 'LOST' ? 'lost' : 'found'}}">{{joinTags(item.tags)}}</span>
                    </div>
                </div>
                <!--todo кнопка исчо или безконечный скролл-->
            </div>
            <div class="nano-bottom"></div>
        </div>
        <div class="nano categories-list-scroll" style="height: {{categoriesBlockHeight}}px"
             ng-show="showCategoriesList">
            <div class="content scroll-content" ng-show="showCategoriesList">
                <div ng-repeat="category in categories" class="clearfix category-section left-margin">
                    <div class="category" ng-click="selectCategoryAndTag(category, null)">{{category.name}}</div>
                    <div class="tag-w-count clearfix" ng-repeat="tag in category.tags"
                         ng-click="selectCategoryAndTag(category, tag)">
                    <span class="tag-icon">
                        <span class="tag-icon-tc">
                            <img ng-src="{{tagsIcons[tag]}}" alt="">
                        </span>
                    </span>
                    <span class="tag-name-container">
                        <span class="tag-name-tc">
                            <span class="tag-name">{{tag}}</span>&nbsp;<span class="tag-count">{{getCountByTag(tag)}}</span>
                        </span>
                    </span>
                    </div>
                </div>
            </div>
            <div class="nano-bottom"></div>
        </div>
    </div>
</div>

<div ng-show="lafBusy" class="laf-busy">
    <div class="laf-busy-wrapper">
        <div class="laf-busy-text" ng-bind-html="lafBusyMessage">
        </div>
    </div>
</div>

<div class="hidden balloon-content-wrapper">
    <div class="balloon-content">
        <div>
            <div class="when"></div><br/>
            <span class="what"></span>
        </div>
    </div>
</div>

<div class="hidden active-balloon-content-wrapper">
    <div class="balloon-content">
        <div>
            <span class="what"></span>
        </div>
    </div>
</div>