<form novalidate class="form-horizontal">
    <div class="row-fluid">
        <div class="span7">
            <div class="alert alert-error" ng-show="isSessionExpired">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>{{'login.warning'|translate}}</h4>
                <span>{{'login.session_expired'|translate}} </span>
                <span>{{'login.session_expired_directive'|translate}}</span>
            </div>
        </div>
    </div>
    <div id="status401" class="control-group error hide">
        <div class="controls">
            <span class="help-inline">{{'login.401_status'|translate}}</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="userName">{{'login.login'|translate}}:</label>
        <div class="controls">
            <input id="userName" type="text" ng-model="user.username" placeholder="{{'login.login_placeholder'|translate}}" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="userPassword">{{'login.password'|translate}}:</label>
        <div class="controls">
            <input id="userPassword" type="password" ng-model="user.password" placeholder="{{'login.psw_placeholder'|translate}}"/>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button ng-click="login(user)" class="btn">{{'login.submit'|translate}}</button>
        </div>
    </div>
</form>
