<div class="row-fluid header-block">
    <div class="span3">
        <h1>{{'meeting.title'|translate}}</h1>
    </div>
    <div class="span2" ng-show="isSecretary">
        <a href="" ng-click="editMeeting()"><i class="icon-edit"></i>{{'meeting.edit'|translate}}</a>
    </div>
</div>
<form novalidate class="form-horizontal">
    <div class="control-group" ng-show="isSecretary">
        <label class="control-label">{{'meeting.status'|translate}}:</label>
        <div class="controls">
            <select data-ng-model="selectedStatus"
                    data-ng-options="status.label|translate for status in statuses"
                    data-ng-change="changeStatus()">
            </select>
        </div>
    </div>

    <span class="span2 text-right">{{'meeting.name'|translate}}:</span>
    <span class="span6">{{meeting.name}}</span>

    <div class="clearfix"></div>

    <span class="span2 text-right top-buffer">{{'meeting.dateAndTime'|translate}}:</span>
    <span class="span2 top-buffer"><i class="icon-calendar"></i>{{meeting.dateAndTime | date:'dd/MM/yyyy'}}</span>
    <span class="span3 top-buffer"><i class="icon-time"></i>{{meeting.dateAndTime | date:'HH:mm'}}</span>

    <div class="clearfix"></div>

    <span class="span2 text-right top-buffer">{{'meeting.address'|translate}}:</span>
    <span class="span6 top-buffer">{{meeting.address}}</span>

    <div class="clearfix"></div>

    <span class="span2 text-right top-buffer">{{'meeting.personalPresence'|translate}}:</span>
    <span class="span6 top-buffer">{{personalPresenceType()|translate}}</span>
    <div class="clearfix"></div>

    <span class="span2 text-right top-buffer">{{'meeting.company'|translate}}:</span>
    <span class="span6 top-buffer">{{meeting.company.name}}</span>

    <div class="clearfix"></div>
    <span class="span2 text-right top-buffer">{{'meeting.committees'|translate}}:</span>
    <span class="span6 top-buffer">
        <ul class="unstyled">
            <li class="inline" ng-repeat="committee in meeting.committees">{{committee.name}}</li>
        </ul>
    </span>

    <div class="clearfix"></div>
    <div class="row-fluid">
        <div class="span2">
            <h4>{{'meeting.agenda'|translate}}</h4>
        </div>
        <div class="span2 offset8">
            <a href="api/meetings/agenda/meeting/{{meeting.id}}"><i class="icon-download"></i>{{'meeting.downloadAgenda'|translate}}</a>
        </div>
    </div>

    <div ng-repeat="question in meeting.questions">
        <hr>
        <h4 class="clearfix">
            <span class="span2 text-right">{{question.number}}.</span>
            <span class="span2">{{'meeting.question.question'|translate}}</span>
        </h4>

        <div class="span8 offset2">
            <span>{{question.question}}</span><br/>
            <h4>{{'meeting.question.solution'|translate}}</h4>
            <span>{{question.solution}}</span>

            <div class="row-fluid top-buffer">
                <span class="span4"><i class="icon-briefcase" tooltip="{{'common.committeeTooltip'|translate}}"></i>
                    {{question.committee.name}}</span>
                <span class="span4"><i class="icon-user" tooltip="{{'meeting.question.performer'|translate}}"></i>
                    {{question.performerUser}}</span>
                <a class="span4" href="" ng-click="showQuestionDetails(question)"><i class="icon-comment"></i>{{'meeting.question.comments'|translate}}</a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div ng-show="question.resources.length > 0">
            <hr class="offset2">
            <div class="row-fluid offset2">
                <div class="span2">
                    <ul class="unstyled">
                        <li>
                            <i class="icon-folder-open"></i>{{'meeting.question.documents'|translate}}
                        </li>
                        <li ng-show="question.resources.length > 0">
                            <i class="icon-hdd"></i><a href="api/questions/document/zipped/{{question.id}}">{{'meeting.question.save_all'|translate}}</a>
                        </li>
                    </ul>
                </div>
                <div class="span6">
                    <ul class="unstyled">
                        <li ng-repeat="resource in question.resources">
                            <small class="muted"><i class="icon-tag"></i>{{resource.creationDate | date:'dd/MM/yyyy'}}</small>
                            <a href="api/questions/document/{{resource.id}}">{{resource.name}}</a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="offset2" ng-show="isSecretary && question.votes.length > 0">
            <span>{{'meeting.question.voting.for' | translate}}: </span>
            <span>{{getVotes(question.votes, voteState.YES)}} </span>
            <span>{{'meeting.question.voting.against' | translate}}: </span>
            <span>{{getVotes(question.votes, voteState.NO)}} </span>
            <span>{{'meeting.question.voting.abstained' | translate}}: </span>
            <span>{{getVotes(question.votes, voteState.ABSTAIN)}} </span>
            <a href="" ng-click="showMeetingResultsForQuestion(question.number)">
                <i class="icon-chevron-right" tooltip="{{'common.votingResultsDetails'|translate}}"></i></a>
        </div>
    </div>
</form>
<div class="control-group">
    <div class="controls">
        <button class="btn" ng-click="goBack()">{{'common.back'|translate}}</button>
    </div>
</div>